[2012-06-04 18:54] pmorton opened #1 "Error Messages Should Inject Translations"
None of the errors messages inject translation into vagrant.

[2012-06-11 13:38] dpetzel opened #2 "Chef-Solo + remote_file + Bad HTTP response returned from server (500)"
First all, thanks for this plugin. I'm really liking it.

I am having an issue, which I'm not sure is caused by this plugin, but at the very least its intertwined. I've got everything working so that I can `vagrant up` a windows box and it comes online and fires the chef-solo provisioner

While running through a series of cookbooks via the chef-solo provisioner it always bombs on a remote file dow

[2012-06-12 01:30] dpetzel commented on #2
So I believe I got to the bottom of these 500's today. Thanks to http://www.windowsitpro.com/blog/powershell-with-a-purpose-blog-36/scripting-languages/tools-for-troubleshooting-powershell-remoting-and-winrm-part-2-137463 I was able to enable tracing on the WinRM calls and could see the following in the XML `<w:OperationTimeout>PT60S</w:OperationTimeout>`

After some digging it appears that 60S is

[2012-07-03 18:32] Keno opened #4 "Chef Porovisioner fails on first attempt"
I'm using vagrant-windows to manage a windows 7 guest that I'd like to provision with chef. However, every time I create a new VM using `vagrant up`, chef fails with the message that it can't find any cookbook. I have tried to debug the problem but just retrying `vagrant provision` makes it go away (interestingly `vagrant up --no-provision` and then `vagrant provision` works half of the time, but

[2012-07-03 20:35] dpetzel commented on #4
I had a similar problem, that I worked around by hacking the provision file in vagrant itself, I'm not sure where the "proper" fix belongs so I don't have any open pull request, but see if https://github.com/dpetzel/vagrant/commit/3b2f6251724beff352bb2d99901aa25431380aec lets you work around the issue.

[2012-07-25 18:36] pmorton commented on #4
Would it make sense to have the mapping provisioner wait some time. i.e.

[code]

@dpetzel I am not sure that I understand what the hack is doing. It looks like it is just running a net use without error checking. Any idea how running the net use solves the problem? Do you think that running this in the mount script would solve you specific issue?

[2012-07-25 18:40] dpetzel commented on #4
Yes all it does it a net use with no error checking. I can't explain WHY it works, but it has solved the issue for me.

As far as the wait time, in the testing that I did, I would tried waiting upwards of 30 minutes and it still would not work. They only success I had was manually running the net use, and then the provisioner would work fine.

Running the net use in the mount script might just wor

[2012-07-25 18:57] pmorton commented on #2
So it seems that #3 address the operation timeout. Thanks for fixing my bug!

WRT the Exception Mismatch. I am thinking about wrapping some calls in shell_execute to re-raise a vagrant exception. This should leave your machine in a workable state after a failed provision. I am testing the changes now and will have an update shortly

[2012-07-25 18:58] Keno commented on #4
@pmorton Putting it in the mount script does work (though the actual `net use` command fails). See https://github.com/julia-ci/vagrant-windows/blob/master/lib/vagrant-windows/scripts/mount_volume.ps1.erb

[2012-07-25 19:03] pmorton commented on #4
Perfect that is what I was going to ask. So  I will test things out with

[code]

[2012-07-25 20:31] #2 closed, assigned to nobody

[2012-07-25 20:32] pmorton commented on #4
Published a new version to ruby gems to fix this issue. 0.1.0

[2012-07-25 20:32] #4 closed, assigned to pmorton

[2012-07-25 20:33] pmorton commented on #2
@dpetzel  Thanks for your help! You make the community rock.

[2012-08-14 01:09] leftathome opened #5 "Apparent host renaming issues in Win2k8R2 / distro-specificity"
I'm not sure how many people run into this issue, but I can't seem to get a Windows 2008R2 guest to take a rename.  I need to be able to rename VMs in order to run the Chef client on them.

Has anyone already gotten system renaming to work?  Does the code in Vagrant::Guest::Windows.change_host_name() already work for anybody?  I'm happy to send a pull request if not.

I using the netdom command to

[2012-08-23 19:21] biagit commented on #5
I think that you hit the nail on the head with regard to rebooting. The current workflow does not support the idea that you need to reboot a host to rename it. In my mind it seems that it might make sense to use a middleware approach to renaming the machine so that we can anticipate the fact that the machine needs to be renamed and rebooted prior to provisioning.

http://vagrantup.com/v1/docs/exte

[2012-08-29 16:15] daspilker commented on #4
Everything is working, but the net use command causes an error message on my Windows Server 2008 R2 box. Is that normal?

[code]

[2012-09-22 18:32] moserke opened #7 "Server 2003 Does Not Work With Chef"
Because symbolic links are not available in server 2003, more specifically mklink, chef-solo does not work as the c:\tmp\vagrant-chef-1* links do not create correctly.  Need the option to be able to change location of chef-solo files.

[2012-09-23 02:35] moserke commented on #7
As a work around to this issue I was able to get a chef-solo provisioning work with the following modifications.  These modifications take many of the extended features of vagrant away, but could be potentially a basis for how to override the vagrant functions in the in the vagrant-windows gem.

Modify the chef-solo.bat file

[code]

Create a mklink.bat file

[code]

Create a solo.rb file

[code]

[2012-09-25 18:15] pmorton commented on #7
@leftathome Can you confirm this. I think that you are running on windows 2003 No?

[2012-09-25 23:39] moserke commented on #7
Correct, this is windows server 2003.  I should rephrase that it's not chef that does not run on server 2003 it's the vagrant/vagrant-windows things that don't work on server 2003 because it's calling in to the OS to do mklink.  The workaround I posted above is what I had to do to get chef-solo to run on a server 2003 vagrant box.

[2012-09-25 23:54] leftathome commented on #7
Unfortunately I can't confirm this as I don't have a 2003 image handy.  Our test framework is 2008R2-centric and concerned primarily with getting chef-client to run on a node.  Version-specific features can be added via distro_dispatch without resorting to even more monkey-patching -- I added 2003 just as an example. Should be possible to patch in support for just about any other version of Window

[2012-09-26 00:07] leftathome commented on #5
Problem solved through pull request #6 ... though perhaps this approach could be revisited when the day comes that this entire codebase has to be refactored against the newfangled Vagrant 1.1 plugin architecture?

[2012-09-26 00:07] #5 closed, assigned to nobody

[2012-11-22 17:36] ocxo opened #10 "undefined method `read_mac_addresses' on vagrant up"
[code]

[2012-11-23 00:50] pmorton commented on #10
@fromonesrc It is not clear, but is is highly likely that this is due to https://github.com/BIAINC/vagrant-windows/pull/8. Can you confirm that this resolves this issue. If so, I will publish a new version of this gem.

[2012-11-23 07:02] ocxo commented on #10
That seems to have cleared up the read_mac_address problem but now I'm getting this on vagrant up.

[code]

[2012-12-05 20:56] pmorton commented on #10
Most of these winrm_bad_exit_status tend to be transport errors with WinRM. Can you confirm that this is still happening?

[2012-12-05 23:35] ocxo commented on #10
Sorry to say I forget what the problem was but it wasn't vagrant-windows. Thanks for following up.

[2012-12-05 23:35] #10 closed, assigned to nobody

[2013-01-09 14:28] ndrluis opened #12 "Vagrant Up error - Method Missing"
Error
https://gist.github.com/4493503

Vagrantfile
https://gist.github.com/4493520

[2013-01-09 14:29] heymishy commented on #12
you need to install the winrm package.

gem install winrm

[2013-01-09 16:16] ndrluis commented on #12
The winrm is installed.

vagrant (1.0.5)
vagrant-vbguest (0.4.0)
vagrant-windows (0.1.2)
winrm (1.1.2)

[2013-01-29 22:33] hh opened #14 "Windows-7 setting host name fails with 'Invalid Verb Switch."
Vagrant file from https://github.com/chef-azure/azure-cookbook/blob/master/Vagrantfile#L56

I'm not sure what it's setting the hostname to here

[code]

With a basebox build from https://github.com/opscode/bento/blob/master/definitions/windows-7-enterprise/definition.rb

[code]

[2013-01-29 22:39] hh opened #15 "Unknown error without translation: en.vagrant.errors.winrm_bad_exit_status"
Beyond adding a translation, I'm still unsure what this error is.

[code]

[2013-02-03 01:21] pmorton commented on #12
Sorry for taking so long to engage. Are you running this as part of a bundle? The error seems to suggest the the plugin is not loading automatically.

[2013-02-03 01:26] pmorton commented on #15
So I can see what is happening, but I don't have enough information on why. It looks like it is having trouble finding c:\tmp\vagrant-chef-1\chef-solo-1\coolbooks. I think that there are two things that need to be resolved. The error needs to be caught and indicate a non-zero exit and second I would like to find out why it could not resolve this path. Any ideas why this path might not exist on you

[2013-02-03 01:38] pmorton commented on #14
I think that the following commit will solve the problem. Can you confirm?

https://github.com/BIAINC/vagrant-windows/pull/6/files#L3R15

[2013-02-03 05:29] hh commented on #14
I'm trying to figure out how to use http://files.vagrantup.com/packages/476b19a9e5f499b5d0b9d4aba5c0b16ebe434311/vagrant_x86_64.deb and eventually https://opscode-omnitruck-release.s3.amazonaws.com/ubuntu/11.04/x86_64/chef_10.18.2-2.ubuntu.11.04_amd64.deb as it sounds like Vagrant will no longer be distributed as a gem. I've been playing with paths and such to get it all working together but it is

[2013-02-03 05:40] hh commented on #14
[code]

[2013-03-05 23:40] sneal opened #16 "SQL Server cookbook fails to install through Vagrant"
I've created this issue in order to fix [COOK-1172](http://tickets.opscode.com/browse/COOK-1172).

There are essentially two issues with installing SQL Server through vagrant-windows, or more specifically through WinRM:
1. The guest VM group policy needs to be relaxed around WinRM console limits on memory. This can easily be addressed via a group policy change on the VM.
2. The chef-solo process n

[2013-03-09 15:06] sneal opened #18 "solo.rb file_cache_path is not a Windows friendly path"
The path specified in the solo.rb generated by vagrant is not Windows friendly and causes problems for some applications.

Actual path: /tmp/vagrant-chef-1
Expected path: c:\tmp\vagrant-chef-1

More specifically this causes problems with the community SQL Server cookbook. This cookbook generates a configuration file in the chef file cache which it passes off to setup.exe. The path it generates is

[2013-03-12 08:31] ikaros opened #19 "Provisioning returns error on linux master with windows box"
Hi,

`vagrant provison` returns the following error message.

[code]

I'm using the 'Windows Server 2008 R2 - Datacentre full' from http://vagrantbox.es (http://dl.dropbox.com/u/58604/vagrant/win2k8r2.box) with 'vagrant-windows'.

Looks like the command in https://github.com/mitchellh/vagrant/blob/1-0-stable/lib/vagrant/provisioners/puppet.rb line 155 doesn't run in powershell.

Would it be possib

[2013-03-14 22:50] pmorton commented on #19
@preflightsiren Do you have any thoughts on this? You did the puppet integration so if possible I would like to give you first crack at looking into this.

[2013-03-14 22:55] pmorton commented on #16
Closing in favor of the issue with the PR

[2013-03-14 22:55] #16 closed, assigned to nobody

[2013-03-14 23:56] preflightsiren commented on #19
the error is due to powershell replacing && with -and

the block responsible is:
https://github.com/BIAINC/vagrant-windows/blob/master/lib/vagrant-windows/provisioners/puppet.rb#L32

[code]

could you please check that your vagrant file includes the line
"config.vm.guest = :windows"

[2013-03-15 14:44] ikaros commented on #19
Sry I didn't mention that I'm using version 0.1.2 which doesn't seem to have the provisioners directory.

Of course I use "config.vm.guest = :windows" ;-)

So all I have to do is wait for the new release.

Thank you very much.

[2013-03-15 14:44] #19 closed, assigned to nobody

[2013-03-18 15:38] moserke opened #20 "Not compatible with vagrant 1.1 plugins"
Vagrant 1.1 completely changed the plugin API.  Needs to be updated to work in that version.

http://docs.vagrantup.com/v2/plugins/index.html

[2013-03-23 03:09] hh opened #21 "Add support for Vagrant > 1.1.0"
Looks like the plugin architecture may have changed

[2013-03-25 15:06] sneal commented on #21
Yeah, the Vagrant plugin architecture has definitely changed. For instance the config object

[code]

becomes

[code]

There seem to be a lot of changes, but I'd like to get this working since Vagrant 1.1+ is the future and will hopefully mean easier setup and configuration for non-Rubyists.

I'll see how far I can get on the conversion.

[2013-03-30 05:45] sneal commented on #20
I [migrated vagrant-windows](https://github.com/sneal/vagrant-windows/tree/vagrant-1.1-plugin-architecture) to the new Vagrant 1.1+ plugin architecture.

I still need to do some cleanup and testing, but it WOMM. I can successfully provision a Windows node using Vagrant 1.1.2 with the vagrant-windows plugin and the berkshelf plugin 1.0.6.

[2013-03-30 05:46] sneal commented on #21
Dupe of https://github.com/BIAINC/vagrant-windows/issues/20

[2013-04-08 13:40] Elufimov commented on #20
Maybe you place migration changes in to pull request?

[2013-04-08 18:34] tsanders commented on #20
+1.  Please add ASAP.  Add to a pull request for your changes.

[2013-04-08 20:52] sneal commented on #20
You can build the gem yourself from [my branch](https://github.com/sneal/vagrant-windows/tree/vagrant-1.1-plugin-architecture) in the mean time. At the very least the Puppet provisioning is broken and the readme is out of date. I'm going to attempt to address both of those before submitting a pull request.

Do we need/want to support both Vagrant 1.0 and 1.1+ at the same time?

[2013-04-09 06:21] kamalim opened #22 "bridged network not working with vagrant windows base box built with vagrant-windows and winRm"
Hello:

I have built a windows 7 base box using vagrant-windows and winrm following all the steps that are mentioned in your README file.While this box works with nat and host only networking.It fails with bridged networking because winrm fails while enabling the network interfaces with the below error:

DEBUG winrm: WinRM Trying to connect
 INFO winrm: Execute: netsh interface ip set address "Loc

[2013-04-09 09:26] liamjbennett commented on #20
How are you installing your version of the plugin? Doing vagrant plugin install still installs 1.0.2

[2013-04-09 09:37] Elufimov commented on #20
@liamjbennett With bundler
Gemfile

[code]

and then `bundle install`

[2013-04-09 19:54] ndobson commented on #20
Also add this to your Gemfile

[code]

And this to your Vagranfile

[code]

Then after 'bundle install'

[code]

I have the plugin loading but winrm fails

[code]

[2013-04-09 21:15] ndobson commented on #20
@sneal any idea why i'd be getting the above error?

[2013-04-10 16:01] liamjbennett commented on #20
@ndobson why do we need to add vagrant to the gem file? vagrant is no longer disturbed that way.

@sneal I have added that to the Gemfile in my project (so it installs to my local gem installation) and that didn't work. I also created a Gemfile in the /Applications/Vagrant/embedded directory so that the gem was installed in the embedded ruby installation and that didn't work either. I am still get

[2013-04-10 16:10] ndobson commented on #20
See the section at the bottom "Testing your plugin"
http://docs.vagrantup.com/v2/plugins/packaging.html

Vagrant supports that method for plugin testing/development... your other option is to run `rake build` within the vagrant-windows branch then `vagrant plugin install pkg/vagrant-windows-0.2.0.gem`

I prefer the first method because this branch seems to be very unstable and still needs work to

[2013-04-10 17:26] sneal commented on #20
@ndobson I pushed some new changes. In particular I updated the readme.md and fixed the translation missing error you were getting.

[2013-04-10 18:48] ndobson commented on #20
@sneal first, thanks for all your work on this.

I'm still getting an error when running `vagrant up`

Bringing machine 'default' up with 'virtualbox' provider...
[default] Importing base box 'windows7'...
[default] Matching MAC address for NAT networking...
[default] Setting the name of the VM...
[default] Clearing any previously set forwarded ports...
[Berkshelf] Updating Vagrant's berkshelf: '/

[2013-04-10 19:32] sneal commented on #20
It looks like I may have broke the retry logic in the winrmcommunicator ready? method. Not sure why I've never seen this locally unless its a timing issue.

[2013-04-10 19:45] ndobson commented on #20
Attaching debug output:

DEBUG winrmcommunicator: Creating WinRM session to http://localhost:5985/wsman with options: {:user=>"vagrant", :pass=>"vagrant", :host=>"localhost", :port=>5985, :operation_timeout=>1800, :basic_auth_only=>true}
ERROR warden: Error occurred: An error occurred executing a remote WinRM command.

Shell: powershell
Command: function which {
    $command = [Array](Get-Command

[2013-04-10 20:43] ndobson commented on #20
Hey @sneal I figured out the issue....

On line 70 or winrmcommunicator.rb, you are retrying on the HTTPClient::KeepAliveDisconnected exception when in fact your shell_execute method is raising the Errors::WinRMExecutionError exception... change line 70 to this and the retries work as expected:

 exceptions = [Errors::WinRMExecutionError]

[2013-04-10 20:52] ndobson commented on #20
Pull request submitted

[2013-04-12 02:28] KAllan357 commented on #20
I don't want to hijack this thread, but I am having an issue with @sneal's gem. Here's a gist: https://gist.github.com/KAllan357/5368817.

I am going to assume that maybe this is because my box file has VirtualBox 4.1 Guest Additions and it can't mount the drives? I suppose that means I'll need to remake my box file with VBox 4.2 Guest Additions?

[2013-04-12 09:14] simon-wenmouth opened #23 "Command alias for 'mkdir' is broken (typo)"
In the file

[command_alias.ps1](https://github.com/BIAINC/vagrant-windows/blob/master/lib/vagrant-windows/scripts/command_alias.ps1#L14)

The line

[code]

is meant to be

[code]

[2013-04-12 15:51] sneal commented on #20
I see I'm missing a translation for en.vagrant.errors.winrm_bad_exit_status, but besides that I'm not sure why you're getting that failure. Did this used to work with Vagrant 1.0 and the old vagrant-windows gem?

I did make some changes around the windows guest configure_networks method that differs from VBox 4.1 to 4.2

[code]

[2013-04-14 19:24] liamjbennett commented on #20
@KAllan357 it's not just you. I am getting the same error.

[2013-04-15 15:15] sneal commented on #20
@KAllan357 @liamjbennett Assuming the issue is specific to VBox 4.0/4.1 can you try [this branch](https://github.com/sneal/vagrant-windows/tree/vagrant-1.1-plugin-architecture-vbox4.1)? I removed the code that was different between 4.2 and 4.0/4.1.

If that doesn't work can you send me a gist with the debug Vagrant log output?

[2013-04-15 15:17] sneal commented on #20
Anyone want to try out the Puppet support? I just pushed changes that load the Puppet provisioner, but I haven't had time to install or learn about Puppet to try it out.

[2013-04-15 20:49] kgsharp commented on #20
tried this with the branch codeline and vagrant 1.1, but I am getting the following (may just be vmware_fusion plugin having issues talking to vagrant-windows plugin)?

vagrant plugin list
vagrant-vmware-fusion (0.4.2)
vagrant-windows (0.2.0)

Bringing machine 'default' up with 'vmware_fusion' provider...
[default] Verifying vmnet devices are healthy...
[default] Preparing network adapters...
[def

[2013-04-16 23:52] davidpellerin commented on #23
I've submitted a pull request for this.

https://github.com/BIAINC/vagrant-windows/pull/24

[2013-04-18 20:52] simon-wenmouth opened #25 "Action 'change_host_name" issued under powershell (not cmd)"
The change_host_name method on line 15 in file

[lib/vagrant-windows/guest/windows.rb](https://github.com/BIAINC/vagrant-windows/blob/master/lib/vagrant-windows/guest/windows.rb)

calls `channel.execute` without options and is therefore run under powershell. The default of powershell is specified on line 65 in file

[lib/vagrant-windows/communication/winrm.rb](https://github.com/BIAINC/vagrant-win

[2013-04-23 11:56] wenns opened #26 "vagrant provision failes on windows"
The vagrant provision command failes for me with:

"Shared folders that Puppet requires are missing on the virtual machine.
This is usually due to configuration changing after already booting the
machine. The fix is to run a `vagrant reload` so that the proper shared
folders will prepared and mounted on the VM."

Running with debug logging enabled reveals that vagrant is checking existence of a un

[2013-04-26 00:22] pmorton commented on #20
@sneal  Would you mind doing a pull request on this one. It seems that you have done the hard work here.

[2013-04-26 00:23] pmorton commented on #21
@sneal Would you be interested in becoming a comitter?

[2013-04-26 00:23] #21 closed, assigned to nobody

[2013-04-26 00:25] pmorton commented on #23
This has been merged

[2013-04-26 00:25] #23 closed, assigned to nobody

[2013-04-26 00:26] pmorton commented on #25
@simon-wenmouth Can you submit a pull request for this?

[2013-04-26 00:31] pmorton commented on #26
So this is a bit tricky. /tmp/vagrant/puppet/manifests will resolve to C:\temp\vagrant\manifests. (Strange I know). If you have added a new provisioner to your code, this is expected. That being said, have you added a new provisioner to your code? If so a reload is required.

[2013-04-26 05:00] wenns commented on #26
On 04/26/2013 02:31 AM, Paul Morton wrote:

Thats what vagrant suggests in the error message and I did it already (a
couple of times, actually). No, my problem cannot be resolved by this.

The strange thing is that the path 'C:\temp\vagrant\manifests' doesnt
even exist on my machine. So vagrant is right when it complains. Looking
at things I noticed a script which is responsible for providing this

[2013-04-26 06:49] juliandunn commented on #20
+1 to just committing this from @sneal 's branch

[2013-04-29 04:53] sneal commented on #26
While porting this plugin to Vagrant 1.1 I ran into the same issue. The chef and puppet provisioners in core Vagrant synchronize folders to the VM. For some reason the puppet provisioner doesn't specify an "id" in the sync options while the chef provisioner does. Without the id specified the mapping fails because it tries to use an invalid sharename of "/tmp/puppet/manifests" rather than just "man

[2013-04-29 05:00] sneal commented on #25
Fixed in vagrant 1.1 branch.

[2013-04-29 05:01] sneal commented on #20
Opened pull request #27

[2013-04-29 05:07] sneal commented on #21
@pmorton you bet.

[2013-04-30 09:31] ifunky opened #28 "Windows Vagrant 1.1.4 and Vagrant-Windows 0.2.0 Not Working"
Hi,

I've got vagrant/vagrant windows working on one of my machines but running an old version of vagrant (0.7.0) so I'm trying to update everything so I can use 1.1+ but I'm having difficulties getting it going.

Here's what I've done:
- installed Vagrant 1.1.4 (also tried 1.1.5)
- Downloaded latest branch and followed rake build instructions to build vagrant-windows 0.2.0.gem
- Ran vagrant plugi

[2013-04-30 09:35] ifunky commented on #28
Oh forgot to add I'm running this on Windows 7!

[2013-04-30 11:49] davidpellerin commented on #28
@ifunky what does "vagrant plugin list" display?

[2013-04-30 11:57] ifunky commented on #28
Hello,

That command gives me:

 INFO global: Vagrant version: 1.1.4
 INFO manager: Registered plugin: box command
 INFO manager: Registered plugin: destroy command
 INFO manager: Registered plugin: halt command
 INFO manager: Registered plugin: init command
 INFO manager: Registered plugin: package command
 INFO manager: Registered plugin: plugin command
 INFO manager: Registered plugin: provisio

[2013-04-30 23:20] sneal commented on #28
Try the 1.0 gem that we published earlier today. You'll need to uninstall 0.2.0 first: vagrant plugin uninstall vagrant-windows. Then you can run: vagrant plugin install vagrant-windows

[2013-04-30 23:22] sneal commented on #25
@simon-wenmouth Try this in the 1.0 gem, should be fixed.

[2013-04-30 23:27] pmorton commented on #20
@sneal wanna do the honors of closing this?

[2013-04-30 23:31] pmorton commented on #26
@wenns The 1.0 version was released today. This provides compat with vagrant 1.1 and is seems that @sneal has addressed this issue in the lastest release. Are you able to confirm that this is the case?

[2013-04-30 23:32] pmorton commented on #25
Going to mark this as closed. @simon-wenmouth please ping me if this is not the case.

[2013-04-30 23:32] #25 closed, assigned to nobody

[2013-04-30 23:35] pmorton commented on #14
@hh #25 addresses this issue. This has been merged into the 1.0 branch. Ping me if you are still having problems.

[2013-04-30 23:35] #14 closed, assigned to nobody

[2013-04-30 23:41] pmorton commented on #7
@moserke It seems that using junction (from sysinternals) *could solve this problem. Are you interested in making a PR for it?

[2013-04-30 23:44] pmorton commented on #15
@hh this was fixed in 1.0. https://github.com/WinRb/vagrant-windows/commit/f414a35dd2c677e959c96d77b9970272b6d041c2.

[2013-04-30 23:44] #15 closed, assigned to nobody

[2013-04-30 23:44] #12 closed, assigned to nobody

[2013-04-30 23:48] pmorton commented on #22
@kamalim can you post your network configuration?

[2013-04-30 23:55] #20 closed, assigned to nobody

[2013-05-01 08:46] ifunky commented on #28
Excellent that was good timing!  Everything works now using vagrant 1.1.5 and virtualbox 4.2.12.

I seem to have to manually do gem install winrm afterwards, should this be automatic as it's a dependency?

Thanks!

Dan

[2013-05-01 15:39] sneal commented on #28
@ifunky Just curious, with 0.2.0 were you building from a GitHub tarball or zip?

You shouldn't need to install winrm afterwards, but I've never explicitly tried removing it from my machine and installing the plugin to see if vagrant pulls it in automatically or not.

[2013-05-01 15:44] sneal commented on #1
@pmorton I'm not sure I understand what this issue is. Is it we were missing translations for any vagrant-windows exceptions? I added an en.yml translation file in 1.0, does that address this issue?

[2013-05-01 20:07] jeremyno opened #29 "Private Networking does not work with virtual box 4.2.12"
Using the following vagrant file (vagrant 1.1.5, Virtualbox 4.2.12), windows will boot and work as long as the private network line is commented out. Otherwise, I receive a NoMethodError during configure_networks:

[code]

[code]

[2013-05-02 06:00] kamalim commented on #22
config.vm.define :win1 do |win1_config|
        win1_config.vm.guest = :windows
        win1_config.vm.box = "win7_VL"
        win1_config.vm.boot_mode = :gui

[code]

It is working with the host only network but not with bridged

[2013-05-02 06:15] wenns commented on #26
I'll check

[2013-05-02 06:40] ifunky commented on #28
Thanks for the info I'll try and install on a blank pc and see what it does,  I'm writing up a blog post on automating this for Windows.

I built 0.2.0 straight from the zip.

[2013-05-02 19:12] KAllan357 opened #30 "synced_folder does not work with Windows"
Using Vagrant 1.1.5 and vagrant-windows 1.0.0.

I'm getting the following error from Vagrant:

[code]

The relevant part of my Vagrantfile is:

[code]

Is it possible this was fixed in a newer version of Vagrant, but is unreachable because of the backwards incompatibility with vagrant-windows 1.0.0? Or am I just doing something wrong here?

[2013-05-02 21:21] bassrock opened #31 "Synced Folder is Read-Only"
For some reason using vagrant-windows 1.0.0 and vagrant 1.1.4, the synced folder is Read-only where I can only create folders. However if I use the absolute path at \vboxsrv\vagrant-root\vagrant, I can write new files.

Is this expected behavior or am I missing something in the setup?

[2013-05-02 22:00] KAllan357 commented on #30
After doing some digging, it seems like this is actually a bug in vagrant.

https://github.com/mitchellh/vagrant/issues/1688

[2013-05-02 22:35] bassrock commented on #31
It looks like this may be a bug with virtual box, as manually created shared folders in virtual box has the same issue.

[2013-05-03 01:37] pmorton commented on #30
Cool. I will leave this open for the moment. I want to see where it goes.

[2013-05-03 01:46] pmorton commented on #29
The issue is manifesting itself here: https://github.com/WinRb/vagrant-windows/blob/master/lib/vagrant-windows/guest/windows.rb#L92. @jenorman Is is possible to have you send the output from a ipconfig /all on the guest?

[2013-05-03 01:52] sneal commented on #28
Building the gem directly from the zip/tar doesn't work. We use git to gather the list of files to include in the gem. Should probably change that so its independent of git.

[2013-05-03 16:15] jeremyno commented on #29
Since I cannot get the box to stay up if the private network exists, this is from the box without the interface it is trying to configure. (The output is a bit redacted)

[code]

I'm not much of a ruby/vagrant developer, but while investigating, I threw this line before line 92:

[code]

and this is the output (edited for readability)

[code]

[2013-05-03 17:17] pmorton commented on #29
Confirmed. I am repro this. I am looking into it now.

[2013-05-03 17:38] pmorton commented on #29
I think I know what is happening here. We go through a discovery routine after we are able to connect to it. However at the point at which we are discovering network interfaces, the OS has not yet installed the network adapters...

[2013-05-03 18:37] jeremyno commented on #29
I tried to test that hypothesis and am not certain that is the case. I added a sleep 120 before the discovery (https://github.com/WinRb/vagrant-windows/blob/master/lib/vagrant-windows/guest/windows.rb#L70) so I could log in to the gui, run ipconfig /all before the discovery occurs. The relavent ip config info suggests that there are two interfaces, as should be expected:

[code]

the output of my

[2013-05-03 18:50] pmorton commented on #29
I found the problem. Apparently the 4.2 driver does not support read_mac_addresses. This was merged into [4.1](https://github.com/mitchellh/vagrant/blob/v1.1.5/plugins/providers/virtualbox/driver/version_4_1.rb#L326) from one of my earlier pull requests but did not make it into the 4.2 driver. I will create a pull request for this and monkey patch around it for the mean time.

[2013-05-03 19:45] pmorton commented on #29
@jenorman I just push a fix to master and released on rubygems. Please upgrade and confirm that this is fixed.

[2013-05-03 19:45] #29 closed, assigned to nobody

[2013-05-03 19:50] pmorton commented on #22
@kamalim have you upgraded to 1.1 yet? If not I recommend upgrading. I just fixed #29 on the 1.1 compatible version of this plugin. To get the same behavior as above use:

[code]

[2013-05-03 19:55] pmorton commented on #30
@KAllan357 I was thinking about this a bit and vagrant-windows does not support synced folders. It *could support synced folders but is has not yet been implemented in the guest driver.

[2013-05-03 19:59] pmorton commented on #7
@moserke I am considering simply not supporting windows 2003. The problem that I run into is that I do not use windows 2003 in any of my environments and hence I do not have the testing resources to maintain this. I certainly would not be in objection to accepting a pull request that addresses this incompatibility. If I where implementing this, I would probably do a P/Invoke for creating junctions

[2013-05-03 20:01] pmorton commented on #28
@ifunky I am going to go ahead and close this issue. I am confident that @sneal s comment reflects that source of the problem. In better news, we have released 1.0.x which is compatible with vagrant 1.1. Please give it a shot and ping me back if it continues to not work.

[2013-05-03 20:01] #28 closed, assigned to nobody

[2013-05-03 20:02] moserke commented on #7
Yeah, the issue with this is that server 2003 does not allow remote paths/UNCs in their junctions.  So although you can create the junction you can not map it to the virtualbox \vboxsvr path.  I think we may have hit a wall on getting this fully supported in the same mode as server 2008.  Maybe just putting a "Server 2003 Not Supported" is sufficient, people won't try that way.  Besides, it's a te

[2013-05-03 20:05] pmorton commented on #26
@sneal  do you feel comfortable closing this?

[2013-05-03 20:22] KAllan357 commented on #30
Does the Vagrant 1.1 `synced_folder` syntax imply something completely different from the 1.0 `share_folder` style? Perhaps I just missed something on the documentation side of how to share a folder with my VM.

[2013-05-03 20:35] pmorton commented on #7
Updated the README with the supported operating systems. Thanks for the feedback.

[2013-05-03 20:35] #7 closed, assigned to nobody

[2013-05-03 21:28] sneal commented on #26
@pmorton I ran into the same exact issue when I first tried getting the Puppet provisioner working. This is definitely fixed.

[2013-05-03 21:28] #26 closed, assigned to nobody

[2013-05-03 21:32] sneal commented on #29
@pmorton Thanks for fixing this. I was wondering why 4.2 didn't support read_mac_addresses.

[2013-05-03 21:36] jeremyno commented on #29
I uninstalled & reinstalled the plugin - version 1.0.1 fixed the issue. Thank you for your help here.

[2013-05-06 13:45] kashook opened #34 "When using chef solo provisioning, chef-client doesn't run as administrator unless UAC is disabled on the guest"
I've been playing around with the latest vagrant-windows code.  A recent change pulled in by [this pull request](https://github.com/WinRb/vagrant-windows/pull/27) seems to have broken some of our provisioning recipes.  The user that submitted the request describes what he did on [this opscode ticket](http://tickets.opscode.com/browse/COOK-1172?focusedCommentId=33875&page=com.atlassian.jira.plugin.

[2013-05-06 15:01] sneal commented on #34
The prior Vagrant 1.0 compatible release said to disable UAC in the readme, but I understand why you'd like to see UAC support as it would more accurately represent a production system. My preference is to enhance vagrant-windows to keep the same behavior as a local chef run to avoid embedding workarounds into cookbooks. This ensures cookbooks developed outside vagrant-windows will work properly.

[2013-05-06 17:01] kashook commented on #34
Hi sneal, I was hoping you'd notice this issue. :)

I didn't notice before that the readme for the Vagrant 1.0 compatible release said to turn off UAC, but I'm glad you see why I might not want to turn it off.

I think any of those solutions would solve my issue.  If there is some way to get the ps_runas script to get processes to actually run as administrator when UAC is on, then I agree that wou

[2013-05-06 17:56] sneal commented on #34
It sounds like you encountered the same exact problem with the .NET 4 installation cookbook as I did with the SQL Server cookbook. Without the fresh credentials provided via the ps_runas script spawning a new process, the WinRM credentials don't support propagation to network devices or secondary processes.

My preference is to try and modify the ps_runas script to work correctly with UAC, althoug

[2013-05-06 23:21] pmorton commented on #34
It sounds like there are two issues here:
1. UAC enabled prevent some commands from running.
2. Accessing network resources when your token is remote, results in access denied when accessing remote resources

Is that correct?

WRT 1: What about: http://aaron-kelley.net/blog/2010/01/disable-remote-uac-in-windows-vista-and-windows-7/
WRT 2: I think that we need to look into enabling CredSSP. I am wo

[2013-05-07 01:04] sneal commented on #34
I'd like to figure out what the recommended "best practice" is for running the Windows chef-client in a production environment. From hearing how Nordstrom's runs chef client I suspect they do this:
- UAC is enabled in production (default group policy config is most likely).
- client runs under a dedicated domain service account.
- dedicated service account is a local admin.
- scheduled task runs c

[2013-05-07 02:24] kashook commented on #34
@pmorton, regarding the link you posted discussing LocalAccountTokenFilterPolicy, we in fact do this on all of our windows servers that we manage with WinRMand/or chef.  This setting allows local administrator accounts to access the system with elevated privileges when connecting to the server via a network connection (whether it be a file share, a winrm connection, etc).  Domain accounts that are

[2013-05-09 00:36] tristianc opened #35 "Problems provisioning Win2k8 Domain Controller"
I have two base boxes. One base box has a default installation of Windows 2k8, with a local 'vagrant' account. I can use vagrant-windows to up, halt, and destroy this box fine.

Another has an installation of Windows 2k8 where it has been promoted to be a domain controller. Consequently, I can not add local accounts to this installation. I created a new account on the domain called 'vagrant' and a

[2013-05-09 14:33] sneal commented on #35
It looks like using domain credentials with winrm basic auth (which is what vagrant-windows uses) doesn't work. @pmorton can probably answer more definitively, see [knife-15](http://tickets.opscode.com/browse/KNIFE-15).

[2013-05-09 19:40] pmorton commented on #35
There was an issuse with the underlying rubyntlm gem. This prevented winrm sessions from using anything but the default domain/workstation for the machine. On a domain joined machine it is the machines domain and on a non-domain joined machine it is the workstation. To get around this, I think that we use basic across the board. This is why only the vagrant user works. I am torn here, this issue i

[2013-05-09 19:42] pmorton commented on #22
@kamalim If you would like me to look into this, please re-open.

[2013-05-09 19:42] #22 closed, assigned to nobody

[2013-05-09 19:44] pmorton commented on #1
Um yeah. This is noise.

[2013-05-09 19:44] #1 closed, assigned to nobody

[2013-05-09 19:45] pmorton commented on #18
@sneal Any thoughts on how to address this?

[2013-05-09 21:24] sneal commented on #18
Since we now monkey patch the run_chef_solo method, I suppose it wouldn't be too hard to wrap all the paths with a method that makes them windows friendly.

[2013-05-14 00:28] patux opened #38 "Shell provisioner for windows does not work"
When I try to use a script.ps1 to do shell provisioner this does not work and vagrant send this as output:
# < CLIXML

<Objs Version="1.1.0.1" xmlns="http://schemas.microsoft.com/powershell/2004/04"><S S="Error">The token '&amp;&amp;' is not a valid statement separator in this version._x000D__x000A_</S><S S="Error">At line:34 char:31_x000D__x000A_</S><S S="Error">\+ chmod +x /tmp/vagrant-shell &am

[2013-05-15 10:14] davidpellerin opened #40 "Vagrant 1.2 is not yet supported"
It is mentioned in the README that Vagrant 1.2 is not yet supported - but I'm wondering if someone is actively working on this, or if we can start a discussion on what needs to be fixed/changed?

[2013-05-15 20:10] sneal commented on #40
I'm starting work on [this](https://github.com/WinRb/vagrant-windows/tree/vagrant-1.2) now. I just ran into a Vagrant berkshelf plugin [issue](https://github.com/RiotGames/vagrant-berkshelf/issues/15) which is fixed in Vagrant 1.2.2+.

[2013-05-16 17:13] sneal commented on #40
Using the vagrant-1.2 branch you can standup a box, but shared folders and thus chef provisioning is broken. I've submitted https://github.com/mitchellh/vagrant/issues/1742

[2013-05-20 13:10] kamalim opened #42 "Error while using vagrant 1.1"
Hi:
I have recently updated to vagrant 1.1
I am getting below error while trying to do vagrant up

[win1] Waiting for VM to boot. This can take a few minutes.
[win1] Failed to connect to VM!
Failed to connect to VM via SSH. Please verify the VM successfully booted
by looking at the VirtualBox GUI.

My vagrant, vagrant-windows, winrm versions are as below:
kamalim:selenium_grid kamalim$ vagrant -v

[2013-05-20 13:12] mgriffin opened #43 "An error occurred executing a remote WinRM command"
Hi.

I'm having problems getting a Windows 2008R2 server running on a Windows 7 host. I have set up my own server base box and enabled winrm. I've stopped the firewall as well to make sure that that's not causing the problem.

I used the basic Vagrantfile from the readme but when I run vagrant up, I get an error saying that "An error occurred executing a remote WinRM command". Then it shows the po

[2013-05-20 17:59] sneal commented on #42
Did you upgrade your Vagrantfile syntax to version 2? See the [readme for an example](https://github.com/WinRb/vagrant-windows#the-vagrant-file).

[2013-05-20 18:13] sneal commented on #43
I have a Win7 host running a Win2k8 guest, so that configuration can work. It sounds like its connecting OK to your guest, but failing to run a command on the guest. Can you run vagrant in debug mode and send a gist of the output?

[2013-05-21 09:21] mgriffin commented on #43
https://gist.github.com/mgriffin/5618534

That's most of the output from the debug. If you want to have a look at the very beginning of it as well, I can add that in. Thanks for looking at it.

Here's the Vagrantfile that I used

[code]

[2013-05-21 10:22] kamalim commented on #42
Yes I did that.

Looks like it created the VM , but tries to do ssh in it and failes.

Here is how my Vagrantfile looks like:

Vagrant.configure("2") do |config|

config.vm.define :win1 do |win1_config|
        win1_config.vm.guest = :windows
        win1_config.vm.box = "win7_enVL"

[code]

   end

  end

end

[2013-05-21 14:04] mgriffin commented on #42
In the readme (just above "What Works?"), it says that config.windows and config.winrm have to be defined. If you add something like

[code]

to your Vagrantfile, it should pick up that it's running vagrant-windows. Try that and see if it works.

[2013-05-21 15:22] kamalim commented on #42
Hi,

I did that and after that it started using winrm , but gives this error:

An error occurred executing a remote WinRM command.

Shell: powershell
Command: function which {
    $command = [Array](Get-Command $args[0] -errorAction SilentlyContinue)
    if($null -eq $command)
    {
      exit 1
    }
    write-host $command[0].Definition
    exit 0
}

function test ([Switch] $d, [String] $path) {

[2013-05-21 15:42] mgriffin commented on #42
That's the same error I'm getting in issue #43

[2013-05-22 09:41] kamalim commented on #42
Hi,

I have solved the issue by increasing the config.winrm.max_tries -The number of retries to connect to WinRM. It defaults to 12.I increased it to 20.
Here is what my vagrant file looks like:

Vagrant.configure("2") do |config|

  config.vm.define :win1 do |win1_config|

[code]

[2013-05-22 09:51] kamalim commented on #42
The reason behind the error "HTTPClient::KeepAliveDisconnected" is :
WinRM uses http to connect to the guest.Once the windows got installed on box  it restarted for installing the recent updates.When retrying a failed persistent connection, httpclient should use a fresh connection.
More details can be found here :   https://github.com/nahi/httpclient/issues/30

So I increased the maximum winrm ret

[2013-05-22 14:55] sneal commented on #42
I'm glad you were able to figure this out.

[2013-05-22 14:55] #42 closed, assigned to nobody

[2013-05-22 14:59] sneal commented on #43
Does increasing the retry count solve your problem? I can see in your debug output that it keeps testing to see if the host is up, but eventually gives up.

[2013-05-22 15:03] mgriffin commented on #43
Yeah, after upping the retry count it worked perfectly. I set it to 20 and that did the job.

For anyone looking at this in the future add this to the Vagrantfile

[code]

[2013-05-22 15:03] #43 closed, assigned to nobody

[2013-06-01 09:44] stonith commented on #40
Tried to get around this by using shell provisioner but the shell provisioner doesn't seem to work.

[2013-06-03 14:37] sneal commented on #40
I'm thinking we can either further monkey patch the provisioners or wholesale replace the provisioners with Windows specific ones.

[2013-06-03 15:45] stonith commented on #40
Was trying to find where the shared folder name is specified. Seems it's just the cifs share name tripping up Windows with the subdirectories. If it's just a single folder the paths should work.

[2013-06-03 18:55] stonith commented on #40
Is it possible to override the SharedFolderNameMachineMapping variable? Remove the /'s or truncate everything past the first /? Would have to override what the Windows guest mounts as well.

[2013-06-07 17:24] pmorton commented on #40
@sneal Is your plan to support backwards compatibility?

[2013-06-07 18:33] sneal commented on #40
Hopefully, but I'm not sure how easy that'll be. I think I can just re-expose the capabilities through the existing guest and communicator classes to support Vagrant 1.1.

Right now I'm just trying to get the plugin to work with Vagrant 1.2.2. Hopefully I'll some time next week to work on this more.

[2013-06-08 08:28] stonith commented on #40
Looks like the SharedFolderNameMachineMapping isn't used for provisioners on windows hosts to windows guests. I was able to get chef-client working and vagrants seems to be copying the required vagrant generated files to /tmp/vagrant-chef-1 which is a permanent folder and not a shared folder mount from virtualbox. On my OSX host I run into the SharedFolderNameMachineMapping issue.

[2013-06-08 18:48] stonith commented on #40
Also finding winrm really slow to startup after boot of guest. Guest boots to login screen within seconds but winrm doesn't respond for 2min 30min. Starting to think that ssh on the windows guest might be a better way to go.

[2013-06-09 00:20] stonith commented on #40
Found that WinRM is set to delayed-auto start by default. Sent pull request to add to readme https://github.com/WinRb/vagrant-windows/pull/48

[2013-06-13 03:54] collinanderson opened #50 "The specified guest type is unknown: windows."
Hello,

I'm trying to get vagrant-windows working on ubuntu 12.10 and running into this error:

$ vagrant up
The specified guest type is unknown: windows. Please change this
to a proper value.

Any idea where I've gone wrong? See my setup below.

Thanks,
Collin

sudo aptitude update
sudo aptitude install linux-headers-$(uname -r)
sudo aptitude install virtualbox
sudo aptitude install rubygems ruby

[2013-06-13 03:56] juliandunn commented on #50
@collinanderson Don't you want to "vagrant plugin install" the vagrant-windows plugin?

[2013-06-13 15:18] collinanderson commented on #50
yeah, maybe I should use a newer version of vagrant that actually has the "plugin" command. Thanks.

[2013-06-13 15:18] #50 closed, assigned to nobody

[2013-06-17 16:15] sneal commented on #40
The vagrant-1.2 branch now properly maps VM shares. Assuming I don't run into any problems using the new plugin today I'll then attempt to make this branch backwards compatible with vagrant 1.1.

[2013-06-17 19:41] juliandunn commented on #40
@sneal Awesome! Good job!

[2013-06-17 20:04] stonith commented on #40
@sneal thanks! Confirmed that vagrant share is mapped correctly with Windows host. I'll try my OSX host tonight.

[2013-06-17 21:29] sneal commented on #40
Branch now supports Vagrant 1.1 and 1.2 on the same code base.

[2013-06-17 21:31] davidpellerin commented on #40
@sneal Awesome.... can't wait to test this out.

[2013-06-17 21:45] sneal commented on #38
Fixed in 1.0.3

[2013-06-17 21:45] #38 closed, assigned to nobody

[2013-06-18 03:25] lmayorga1980 opened #51 "Set up working environment for testing vagrant-windows"
Hi,

I am planning to test vagrant-windows project using various windows versions.

My current setup looks like this:
1. OS: Mac OSX 10.8.4
2. Vagrant 1.2.2
3. Virtual Box 4.2.12
4. Ruby 2.0.0p195

I did proceed with the installation of the ruby gem but when I try to launch a box it shows me the following message:

`There are errors in the configuration of this machine. Please fix
the following er

[2013-06-18 05:02] stonith commented on #40
@sneal works well on OSX. However, hostname changing doesn't seem to work. Never worked for me...

[2013-06-18 14:16] davidpellerin commented on #40
@sneal I've successfully been able to fire up Windows guests on my Mac OS X machine (10.8.4) running Vagrant 1.2.2.

[2013-06-18 15:50] sneal commented on #40
@stonith Thanks for trying it out. I've never tried the host renaming, but there was a compilation error in the 1.2 branch earlier in the day around host renaming.

@davidpellerin Glad to hear works, thanks for trying it out!

[2013-06-18 16:31] sneal commented on #51
The error indicated that vagrant can't find the plugin, i.e. its not installed. Are you trying to run the gem via bundle exec (i.e. from source) or from the published gem?

[2013-06-18 16:51] lmayorga1980 commented on #51
I am trying to use the published gem.  This is my current setup using ruby 2.0.0p195

$ gem list --local

**\* LOCAL GEMS ***

akami (1.2.0)
bigdecimal (1.2.0)
builder (3.2.2)
bundler (1.3.5)
bundler-unload (1.0.1)
childprocess (0.3.9)
ffi (1.8.1)
gssapi (1.0.3)
gyoku (1.0.0)
highline (1.6.19)
httpclient (2.2.0.2)
httpi (0.9.7)
io-console (0.4.2)
json (1.7.7)
little-plugger (1.1.3)
logging (1.6.2)

[2013-06-18 18:15] sneal commented on #51
vagrant-windows is installed into your system gem repository, but it needs be installed into Vagrant's gem/plugin repository via:
`vagrant plugin install vagrant-windows`

[2013-06-18 19:12] lmayorga1980 commented on #51
Hi,

This worked nicely. I think it should be included on the README.md file.

Thank you for your help

[2013-06-18 19:12] #51 closed, assigned to nobody

[2013-06-18 19:27] sneal commented on #51
You're right, odd that's it not there. I'll add that, thanks!

[2013-06-18 19:35] lmayorga1980 opened #52 "[vagrant1.2 branch] Error running vagrant reload"
### Environment

---
- OS: Mac OSX 10.8.4
- Vagrant 1.2.2
- Virtual Box 4.2.12
- Ruby 2.0.0p195
- Target Windows Version: Windows Core Server 2012 Standard
- Processor : Intel Core i7 - 64 bit
### Details

---

I am getting the following error in a random sequence.

`windows.rb:10:in initialize: wrong number of arguments (0 for 1) (ArgumentError)`

I am using the published gem **vagrant-windows-1.

[2013-06-18 21:33] sneal commented on #52
You need to use vagrant 1.1.5 and not vagrant 1.2.2. Its in the readme.md ;)

The published vagrant-windows 1.0.3 gem does not support vagrant 1.2.x, it only supports 1.1.x. The vagrant-1.2 development branch of vagrant-windows does support both vagrant 1.1.x and vagrant 1.2.x, (as of yesterday) but is not published.

[2013-06-18 21:53] lmayorga1980 opened #53 "Update Requirements for Windows Core Versions"
#### Environment

---
- OS: Mac OSX 10.8.4
- Vagrant 1.2.2
- Virtual Box 4.2.12
- Ruby 2.0.0p195
- Target Windows Version: Windows Core Server 2012 Standard
- Processor : Intel Core i7 - 64 bit
#### Details

---

Hi,

I think Windows Core 2008/2012 Servers do not need to configure the **Shutdown Event Tracker** or the **Server Manager at Login**. The registry entries for these configurations do no

[2013-06-18 22:08] lmayorga1980 commented on #52
Yes. I am using the development branch and try to help you guys find bugs and contribute without actually writing code ;)

[2013-06-18 22:22] lmayorga1980 opened #54 "[vagrant1.2 branch] Issue running Vagrant Up"
It starts up the VM successfully but it shutdown on an initialize ruby class **windows.rb**. I guess may be i am missing a configuration value on the Vagrant file?
### Environment

---
- OS: Mac OSX 10.8.4
- Vagrant 1.2.2
- Virtual Box 4.2.12
- Ruby 2.0.0p195
- Target Windows Version: **Windows Core Server 2012 Standard**
- Processor : Intel Core i7 - 64 bit
### Details

---
- $ vagrant up
- Bring

[2013-06-18 23:02] stonith commented on #34
Running into the same issue as well. I'd prefer to leave UAC on for developer workstations as it's enabled in production. I haven't found a good way around this. Is it possible to issue a runas in the winrm command to get around this?

[2013-06-18 23:08] sneal commented on #52
What does `vagrant plugin list` return?

[2013-06-18 23:43] sneal commented on #34
The current vagrant-windows gem essentially issues a runas command via a PowerShell script that starts a new process with credentials. This works in the current incarnation with the winrm 1.0 gem and basic auth, allowing credential delegation to work correctly but only with UAC turned off.

I tried upgrading vagrant-windows to use the unreleased winrm 2.0 gem which uses ntlm instead of basic auth

[2013-06-19 01:45] lmayorga1980 commented on #52
- $ vagrant plugin list
- vagrant-windows (1.0.3)

[2013-06-19 02:09] sneal commented on #52
You're using the release gem which isn't compatible with vagrant 1.2. You need to pull the vagrant-1.2 branch source down from GH and use bundler as documented in the readme.

[2013-06-19 20:58] lmayorga1980 commented on #52
Hi,

I did remove the vagrant-windows plugin from the vagrant installed plugins and also got the code using the bundler.

i have the following error

[code]

[2013-06-19 22:41] sneal commented on #52
Do you have this line at the top of your Vagrantfile?

`Vagrant.require_plugin "vagrant-windows"`

Wouldn't hurt to read this too http://docs.vagrantup.com/v2/plugins/packaging.html

[2013-06-19 22:47] sneal commented on #34
FWIW I pushed a branch that works with the winrm 2.0 gem. Its a WIP, but I was able to standup a box and run chef-solo. On the plus side:
- Uses ntlm auth (so it should work with AD creds).
- Progressive chef output returned to the console instead of being queued up till the end of the run.
- Uses a scheduled task to kick off the chef run, so in theory it should be possible to enable UAC.

[2013-06-19 23:13] lmayorga1980 commented on #52
Fixed.

I think i have my environment ready for testing.

[2013-06-19 23:13] #52 closed, assigned to nobody

[2013-06-19 23:14] lmayorga1980 commented on #54
Same as => [vagrant1.2 branch] Error running vagrant reload

[2013-06-19 23:14] #54 closed, assigned to nobody

[2013-06-20 00:00] lmayorga1980 opened #55 "[vagrant1.2 branch] Issue running puppet provisioning"
### Environment

---
- OS: Mac OSX 10.8.4
- Vagrant 1.2.2
- Virtual Box 4.2.12
- Ruby 2.0.0p195
- Target Windows Version: **Windows Core Server 2012 Standard**
- Processor : Intel Core i7 - 64 bit
### Details

---

It seems that puppet client cannot be found from vagrant.

[code]

![screen shot 2013-06-19 at 7 57 59 pm](https://f.cloud.github.com/assets/3172378/678584/57a1e900-d93c-11e2-917d-dea23

[2013-06-20 01:46] stonith commented on #55
Try running the puppet --version under the vagrant user.

[2013-06-20 02:30] lmayorga1980 commented on #55
It seems that the environment variable need to be executed with the **vagrant user**. I think now i have a starting box with Puppet Windows Client.

I guess I could say now that i have a test environment.

Thank you for the quick responses.

[2013-06-20 02:30] #55 closed, assigned to nobody

[2013-06-20 18:26] stonith commented on #34
Thanks, I gave it a try but received the following error when running an up or halt:

https://gist.github.com/stonith/5825272

[2013-06-20 18:34] kashook commented on #34
@stonith, I got that error as well.  I think it's because the winrm 2.0 gem that this branch requires isn't actually out there yet, and the gemspec for vagrant-windows currently allows a version less than 2.0.  (I was going to try building 2.0 myself from source when I get a moment).

[2013-06-20 18:52] pmorton commented on #34
If it would help, I could Pre-release 2.0 of winrm.

On Jun 20, 2013, at 11:34 AM, keiths-osc notifications@github.com wrote:

@stonith https://github.com/stonith, I got that error as well. I think
it's because the winrm 2.0 gem that this branch requires isn't actually out
there yet, and the gemspec for vagrant-windows currently allows a version
less than 2.0. (I was going to try building 2.0 myse

[2013-06-20 23:05] stonith commented on #34
@pmorton Can you pre-release 2.0 without affecting users using previous versions?

[2013-06-20 23:54] pmorton commented on #34
Yes. Pre-release versions must be installed explicitly.

On Jun 20, 2013, at 4:05 PM, stonith notifications@github.com wrote:

@pmorton https://github.com/pmorton Can you pre-release 2.0 without
affecting users using previous versions?

—
Reply to this email directly or view it on
GitHubhttps://github.com/WinRb/vagrant-windows/issues/34#issuecomment-19789374
.

[2013-06-21 00:11] stonith commented on #34
@pmorton yes please! :+1:

[2013-06-21 01:11] sneal commented on #34
:+1:
@keiths-osc You're correct. I did not commit the gemspec or gemfile changes necessary for vagrant-windows to work.

[2013-06-24 21:43] lmayorga1980 opened #56 "[vagrant-1.2.2] Add Support to VMWare Fusion Provider"
Hi,

I have installed(purchased) the **VMWare Fusion** provider plugin for Vagrant and I already set my first vmware box but it seems that is not able to recognize the **vmware_fusion** provider
#### Environment

---
- OS: Mac OSX 10.8.4
- Vagrant 1.2.2
- VMWare Fusion 5.0.3
- Ruby 2.0.0p0
- Target Windows Version: Windows Server 2008 R2 Standard
- Processor : Intel Core i7 - 64 bit
#### Details

[2013-06-24 22:59] pmorton commented on #40
@sneal What about adding some basic tests? Probably time to pay down some technical debt.

[2013-06-25 19:36] sneal commented on #56
I haven't tried the vmware fusion provider, but my suspicion is that it can't find the fusion plugin when running under bundler. I would try pinging Mitchell to see if he has a suggestion.

[2013-06-25 19:38] lmayorga1980 commented on #56
Thanks for the heads up.

[2013-07-03 13:17] kashook commented on #34
I thought I'd give this another shot, but I'm having a bit of trouble finding the WinRM 2.0 gem.  Could someone point me to either the source or a pre-release if it exists?

[2013-07-04 03:51] sneal commented on #34
Source only in working branch https://github.com/WinRb/WinRM/tree/working

[2013-07-05 22:00] robertmircea opened #57 "How to use vagrant 1.2 with vagrant-windows "vagrant-1.2" branch?"
I've installed (using the installer) vagrant 1.2 on a Windows 8 host. I would like to use vagrant with vagrant-windows "vagrant-1.2" branch.

How can I install on Windows host this specific version of vagrant-windows?

[2013-07-08 22:52] sneal commented on #57
There's no published gem for vagrant 1.2. I've been using it locally for the past couple of weeks without any problems with chef-solo.

You'll need to build it `rake` from source, then install it from your local built copy `vagrant plugin install pkg/vagrant-windows-1.1.0.gem`

[2013-07-09 13:59] lmayorga1980 commented on #56
Do you know if this project will be finally supported by vagrant as a plugin. Or may be Mitchell is doing his own stuff

[2013-07-09 14:11] lmayorga1980 opened #58 "Issue when using specific IP Address"
Hi,

I was trying to use the following configuration since already have a puppet master running with Passenger.

 `config.vm.network :private_network, ip: "10.11.12.16"`
#### Environment

---
- OS: Mac OSX 10.8.4
- Virtual Box 4.2.12
- Ruby 2.0.0p0
- Target Windows Version: Windows Server 2008 R2 Standard
- Processor : Intel Core i7 - 64 bit
### Exception Details

---

[code]

[2013-07-09 14:46] juliandunn commented on #56
Based on some comments I read, it sounds like he wants to do his own thing, but on what timeline, I don't know.

[2013-07-09 20:37] dstj opened #59 "Chef's output is only displayed in console after completion (or after an error)"
Hi, it may be more a question than a bug report, but I thinking it's worth asking since I couldn't find the answer elsewhere...

I'm running vagrant-windows 1.1 with Virtual Box and Chef. My run-list takes a long time (~25 minutes) and I noticed that it stays on `Running chef-solo...` until it either completes or fails. Then everything get "flushed" to the console. With a Linux box, I see the `[IN

[2013-07-09 20:50] sneal commented on #59
Yeah, I don't like this either. Its an artifact of the secondary .NET process it spins up to start chef-solo. The 'chef-schtasks' branch actually doesn't have this problem and immediately displays output as it happens.

[2013-07-09 22:20] Sauraus opened #60 "vagrant 1.2 logging busted"
I believe logging in vagrant-windows 1.2 branch is broken, I've set VAGRANT_LOG to INFO, WARN & ERROR and I only see messages from vagrant, I cannot find anything by vagrant-windows plugin.

[2013-07-09 22:21] Sauraus commented on #40
Works like a charm for me except for the network config part which I don't care about right now because it defaults to DHCP on the guest OS anyway.

[2013-07-10 10:15] #57 closed, assigned to nobody

[2013-07-10 13:16] dstj commented on #59
Good to know, thanks!

[2013-07-10 13:16] #59 closed, assigned to nobody

[2013-07-10 14:14] kashook commented on #34
I made another attempt to test this.  I built the winrm 2.0 gem from the branch mentioned above.  (I set the version to 2.0.0 from 0.0.1 in version.rb before I built it, and modified the gemspec of vagrant-windows to ensure it would use the winrm 2.0.0 gem).  Here is the result:

[code]

[2013-07-10 14:48] sneal commented on #34
That's very odd, its as if the host name and port objects aren't strings. endpoint comes from the @machine.config.winrm.host and its failing on this line in the winrb client.rb:

`@endpoint = URI("#{transport}://#{endpoint}:#{opts[:port]}/wsman")`

Perhaps try running vagrant in debug mode, it'll log the host and options

`logger.debug("Creating WinRM session to #{@machine.config.winrm.host} with

[2013-07-10 14:54] sneal commented on #60
WOMM. My host is OS X and I'm running the following command:

`VAGRANT_LOG=debug vagrant up`

Are you running it the same way?

[2013-07-10 15:06] kashook commented on #34
Actually, I think I may know what the problem is.  I'd been meaning to log an issue for this but had forgotten.  I noticed awhile back that if I didn't explicitly set at least one of the vagrant-windows winrm options in my vagrant file, it appeared that none of the settings would get defaulted.  I ended up finding that the finalize! method in files such as lib/​vagrant-windows/​config/​winrm.rb wa

[2013-07-10 15:10] sneal commented on #60
I noticed a couple of commits weren't pushed, so perhaps try pulling and rebuilding the plugin. I also bumped the plugin version to 1.2.

[2013-07-10 15:12] sneal commented on #34
Yep, I bet that's it!

[2013-07-10 17:04] sneal commented on #34
@keiths-osc I've been playing around with UAC enabled. I've been using the existing vagrant-windows 1.0.3 and the unreleased vagrant-windows version which runs chef-solo through a scheduled task. The only way I can get chef to run without error is to run using the builtin Administrator account. Using the vagrant account (which is part of the administrators group) does not work with either method p

[2013-07-10 20:58] kashook commented on #34
@sneal,  Here is a long answer to your question. :)  I appreciate the opportunity for input.

First, I tried to test out your changes for myself again.  I got further after realizing I needed to set at least one winrm option in my vagrant file, but still ultimately ended up with an error that I think is most likely due to me not having the correct versions of dependent gems.  (I'd likely need a li

[2013-07-10 20:59] Sauraus commented on #60
I don't see how those commits would affect logging or did I miss something?

I am on Windows 7 in PowerShell so I do:
PS> $Env:VAGRANT_LOG="DEBUG"
PS> vagrant up

And I can see all the vagrant DEBUG output but nothing from the vagrant-windows plugin.

I was also looking at the code and wondering if the log setup code should not be moved from the Plugin class to vagrant-windows.rb?

[2013-07-10 21:45] sneal commented on #60
That seems like it should work. You're right the commits I pushed this morning were just a refactor that shouldn't have affected logging.

[2013-07-11 01:09] sneal commented on #34
@keiths-osc Thanks for the detailed response, its appreciated. I need to go back and test this further, I now think my tests were flawed. I'll also double check the LocalAccountTokenFilterPolicy setting.

For a couple different reasons I'm migrating away from the ps_runas script and having vagrant-windows create a scheduled task to run chef immediately.
1. WinRM 2.0 gem uses NTLM and ps_runas can'

[2013-07-14 03:32] ashic opened #61 "Private Network fails to Vagrant Up"
Here's my set up:
Vagrant: 1.1.5
ruby 1.9.3p374 (2013-01-15) [i386-mingw32]
vagrant-windows (1.0.3) [installed via vagrant plugin install vagrant-windows]
Guest: Win Server 2012 x64
Vitual Box: 4.2.16 r86992

When I do a vagrant up, I get the output below. This seems related to https://github.com/WinRb/vagrant-windows/issues/29

Is there something obvious I'm missing?

Thanks,
Ashic.

G:\vagrant_t

[2013-07-14 03:33] ashic commented on #61
I should mention that if I take out the private network bit from the Vagrantfile, then everything runs smoothly.

[2013-07-18 18:49] cournape opened #63 "Forcing private network mode to give a default gateway ?"
One issue that comes up with private network is that since there is no default gateway, windows 7 decides to set that network into 'work network' mode, which means you can't access the VM at this ip from the host, making it rather useless.

One (the only ?) way to fix this is to set up a dummy gateway manually through the UI, and then everything works fine. Is there a way we can automate this ? I

[2013-07-23 10:46] cournape opened #64 "chef logging not 'real time' anymore"
When using chef-solo provisioner, we get the log only after chef-solo ran, instead of during the run.

That makes the logging much less useful: is there an easy way to fix this ? I am using the vagrant-1.2 branch on top of vagrant 1.2.4 (issue seen on both osx and linux hosts).

[2013-07-23 14:51] sneal commented on #64
I don't like waiting for my chef output either. Its fixed in the chef-schtasks branch.

[2013-07-23 20:59] kashook opened #67 "vagrant-windows causes "shared folder guest path is used multiple times" error when multiple chef provisioners are used"
I have been using the vagrant-1.2 branch of vagrant windows for a while now.  I've found an issue related to chef provisioning.  Vagrant allows multiple chef provisioners to be set up on a VM.  When vagrant-windows is installed from the vagrant-1.2 branch, this functionality is broken.  For example, suppose you have the following Vagrantfile:

[code]

And the following Berksfile sitting next to th

[2013-07-23 20:59] kashook commented on #67
A pull request with a fix for this issue will be sent shortly.  The fix still allows valid share names to be generated for windows, but eliminates this issue, and also doesn't cause the folder name in the shared folders configuration in virtualbox for linux guests to be different when vagrant-windows is installed vs when it's not installed.   Since shared folder configuration at the VM level is pr

[2013-07-23 21:00] kashook commented on #67
Oops, accidentally hit the comment and close button on my last comment.  Sorry for the spam.

[2013-07-23 21:04] kashook commented on #67
Pull request can be found [here](https://github.com/WinRb/vagrant-windows/pull/68)

[2013-07-24 16:17] joefitzgerald commented on #56
@lmayorga1980 did you end up finding a way to get the vmware_fusion to run when using bundler?

[2013-07-24 17:58] lmayorga1980 commented on #56
Not yet

Sent from my iPhone ;)

On Jul 24, 2013, at 12:17, Joe Fitzgerald notifications@github.com wrote:

[2013-07-24 22:51] joefitzgerald opened #69 "Support VMware Fusion Provider"
I figured out how to get the vagrant-windows 1.2 branch packaged up and running with the VMware Fusion driver with the help of @mitchellh.
1. git clone git@github.com:WinRb/vagrant-windows.git
2. cd vagrant-windows
3. git checkout 1.2
4. bundle install
5. gem build vagrant-windows.gemspec
6. vagrant plugin install vagrant-windows-1.2.0.gem

So now, with the vagrant-vmware-fusion (0.8.2) & vagrant-

[2013-07-24 22:52] joefitzgerald commented on #56
@lmayorga1980 Figured it out with help from @mitchellh. See #69.

[2013-07-24 23:00] lmayorga1980 commented on #56
Now i see it. Thanks.

Probably mitchell has a surprise for us on windows :)

[2013-07-25 06:17] sneal commented on #69
I'll give it a shot here shortly

[2013-07-25 14:40] joefitzgerald commented on #69
@sneal Did you discover anything obvious and quick to resolve?

[2013-07-25 15:46] sneal commented on #69
It appears the Fusion plugin doesn't implement the read_forwarded_ports method. Not sure why since the source for that plugin is in a private repo.

We don't necessarily need the call to read_forwarded_ports, its a nicety when trying to determine the winrm port configuration in case someone forwards the winrm port to a non-standard port on the host. You can try removing lines 169->171 in winrmcomm

[2013-07-25 17:01] joefitzgerald commented on #69
That got me a little further, but not far :)

[code]

[2013-07-25 17:28] joefitzgerald commented on #69
Fast forwarding a bit (I'm sure there are lots of other blockers before I get to mounting folders), but I think this line is going to have to change / be conditional depending on the provider:

https://github.com/WinRb/vagrant-windows/blob/vagrant-1.2/lib/vagrant-windows/scripts/mount_volume.ps1.erb#L44

[code]

becomes

[code]

[2013-07-25 19:32] joefitzgerald commented on #69
@sneal I think it's not resolving the hostname of the VM:

[code]

I have verified connectivity to port 5985 on the VM after it's booted.

[2013-07-25 20:28] joefitzgerald commented on #69
If I configure the IP directly (`config.winrm.host = "192.168.21.139"`), we get past the initial WinRM connection (successfully) and then things fail later in the process. I would note that it appears the initial WinRM connection is happening _before_ ports are forwarded. Which is why a connection to localhost:5985 is failing.

Normal Log Level:

[code]

Info Log Level: https://gist.github.com/joe

[2013-07-26 01:21] sneal commented on #69
Here are some [instructions](http://www.codingonstilts.com/2013/07/how-to-bundle-exec-vagrant-up-with.html) in case you want to use bundle exec for vagrant-windows plugin development while utilizing the vagrant-vmware-fusion plugin.

Nevermind...  It almost works, it fails with a strange bundler error later on when trying to setup port forwarding.

[2013-07-26 01:23] sneal commented on #56
I'm going to close this in favor of issue #69 because it has more information attached even though that one essentially dupes this issue. BTW - got [bundle exec working](http://www.codingonstilts.com/2013/07/how-to-bundle-exec-vagrant-up-with.html) with the fusion provider.

[2013-07-26 01:23] #56 closed, assigned to nobody

[2013-07-26 21:26] sneal commented on #30
Closing this issue, this works correctly on vagrant 1.2.2 and vagrant-windows 1.2 branch.

`config.vm.synced_folder "/Users/sneal/src", "/src"`

Creates a synced folder on the guest accessible via c:\src

[2013-07-26 21:26] #30 closed, assigned to nobody

[2013-07-26 21:27] sneal commented on #31
Closing this issue, this works correctly on vagrant 1.2.2 and vagrant-windows 1.2 branch.

config.vm.synced_folder "/Users/sneal/src", "/src"

Creates a synced folder on the guest accessible via c:\src, I can read and write to this folder from the guest.

[2013-07-26 21:27] #31 closed, assigned to nobody

[2013-07-26 21:28] sneal commented on #18
Fixed in vagrant-windows1.2

[2013-07-26 21:31] sneal commented on #53
Fixed in vagrant-windows 1.2

[2013-07-26 21:31] #53 closed, assigned to nobody

[2013-07-26 23:19] sneal commented on #60
Tried this on the vagrant-1.2 branch using PowerShell on Win7 like you, I can't repro the issue.

[2013-07-26 23:19] #60 closed, assigned to nobody

[2013-07-26 23:24] sneal commented on #67
PR merged in

[2013-07-26 23:24] #67 closed, assigned to nobody

[2013-07-29 15:19] sneal commented on #61
This should work, but I can't repro this. I'm using a newer version of vagrant and vagrant-windows. Perhaps you can try this with vagrant1.2+ and the new vagrant-windows plugin when its released in a few days or build it yourself from the vagrant-1.2 branch?

[2013-07-29 15:24] sneal commented on #58
If you login to the guest do you get two network adapters? One for the NAT and one for the private network config?

I tried this exact configuration on vagrant 1.2 and the vagrant1.2 branch version of vagrant-windows and couldn't repro.

[2013-07-29 15:38] sneal commented on #63
Interestingly, this only seems to be a problem on Windows 7 (probably 8 too). Windows Server 2008 R2 doesn't require that you set the network type to "work network" to enable guest access through the private IP from the host.

[2013-07-29 15:38] #63 closed, assigned to nobody

[2013-07-29 21:12] sneal commented on #34
I can run and install our [dotnetframework](https://github.com/daptiv/dotnetframework) cookbook with:
- UAC enabled
- vagrant 1.2.2
- vagrant-windows 1.2 branch (latest)

I'm going to close this issue since I believe its fixed (in vagrant-windows 1.2) according to the issue summary. My assumption is this will meet your needs. If vagrant-windows still will not work for your environment/setup, pleas

[2013-07-29 21:12] #34 closed, assigned to nobody

[2013-07-29 21:13] sneal commented on #64
Fixed in vagrant-windows 1.2

[2013-07-29 21:13] #64 closed, assigned to nobody

[2013-07-30 14:20] usepowershell commented on #61
@sneal I get the same error when trying to provision a private network with vagrant-windows 1.2.0 (built this morning) and vagrant 1.2.2.

[2013-07-30 16:03] sneal commented on #61
Thanks for trying it out, can you try it out again? I added some additional debug logging to the network capability and added a check to ensure the interface isn't nil before attempting to configure it. If it is nil a warning is now logged.

[2013-07-30 16:56] usepowershell commented on #61
Ok, rebuilt the plugin and vagrant up succeeds, but the IP address is not set on the host only network adapter.

I've pasted the full debug log to https://gist.github.com/smurawski/6114598.

I think the pertinent logging is (but I'm guessing.. very new to ruby and vagrant)..

DEBUG subprocess: Waiting for process to exit. Remaining to timeout: 32000
DEBUG subprocess: Exit status: 0
DEBUG network:

[2013-07-30 17:06] usepowershell commented on #61
At least for me, the current patch gets me over the hump, I can pass in a powershell script to configure the ip. :)

[2013-07-30 19:08] sneal commented on #61
The secondary adapter is missing from the vm_interface_map, which makes me believe that the WQL query is not returning the secondary adapter because its not in the "connected" state; it might be in the "connecting" state or one of the many others.

I've pushed a change to the vagrant 1.2 branch which I hope will fix it. I changed the WQL to query for network adapters to ignore status and instead l

[2013-07-30 19:33] usepowershell commented on #61
Awesome.  I'll pull it down and give it a spin.

[2013-07-31 19:24] usepowershell commented on #61
No dice.. To be fair though, my guest is running 2012 R2 Preview.  I'm going to try with some older OS versions.

[2013-07-31 23:58] joefitzgerald commented on #69
PR #72 addresses this.

[2013-07-31 23:58] #69 closed, assigned to nobody

[2013-08-01 02:52] usepowershell commented on #61
I've been doing some further testing with the wql method via the winrm gem.  It seems like the problem is there.  No matter what wql is passed, only one hash is returned.

[2013-08-01 05:35] sneal commented on #61
That's very odd. On my Windows 2008 R2 Server box is will return ~10 adapters if I remove the WHERE clause entirely. Does this seem specific to Windows 2012?

[2013-08-01 14:19] georgievrado opened #73 "Vagrant Puppet provisioner errors out with "The token '||' is not a valid statement separator in this version""
Hi,

I am trying to run the puppet_server provisioner for a Windows Server 2008 R2 box. My set up is the following:
Vagrant 1.1.5
vagrant-windows 1.0.3

The vagrant file looks as follows:

  config.vm.define :webnode do |webnode|
    webnode.vm.box = "Win2008R2"
    webnode.vm.guest = :windows
    webnode.vm.network :private_network, ip: "168.192.73.4", :netmask => "255.255.255.0"
    webnode.wind

[2013-08-01 15:27] georgievrado commented on #73
The same issues reproduces with Vagrant 1.2 and vagrant-windows plugin built from this branch: https://github.com/WinRb/vagrant-windows/tree/vagrant-1.2.

[2013-08-01 15:58] sneal commented on #73
We need to monkey patch the vagrant [puppet server provisioner](http://docs.vagrantup.com/v2/provisioning/puppet_agent.html). Right now it looks like we only support the [puppet apply provisioner](http://docs.vagrantup.com/v2/provisioning/puppet_apply.html).

[2013-08-02 02:35] usepowershell commented on #61
It's due to the WinRM version.. if Windows Management Framework 3 is installed on 2008 R2, I can duplicate the failure.  It looks like the WinRM gem doesn't support wmf 3, which is the default on Server 2012 and available downlevel for Server 2008 and 2008 R2.

[2013-08-02 13:52] usepowershell commented on #61
I'll submit a pull request in the near future for a workaround.  I'm doing a bit of testing on it now.

[2013-08-02 15:32] sneal commented on #61
Thanks for digging into this. Upgrading the WinRm gem to 2.0 is on our backlog. Potentially it rectifies this situation? Unfortunately the 2.0 code is sitting in this branch https://github.com/WinRb/WinRM/tree/working

[2013-08-02 17:19] colema18 commented on #40
Sorry for the really dumb question. How do I install the 1.2 version of vagrant-windows? When I do gem install vagrant-windows, I get the 1.0 something version.

[2013-08-02 17:24] sneal commented on #40
We're waiting for @pmorton to get back from vacation so we can release a new gem. Until then you can build it yourself from the vagrant-1.2 branch.

[2013-08-02 17:31] Sauraus commented on #40
@colema18 easy :) either fork or clone the git (https://github.com/WinRb/vagrant-windows) repo, switch to the 1.2 branche and build the plugin yourself using Ruby 1.9.3, using 'rake build' and then use [vagrant plugin install 'PATH TO the  plugin you just built']

[2013-08-02 17:37] colema18 commented on #40
Thanks for the quick response sneal (and Sauraus), let me emphasize "really dumb question". I am not sure I am building it right. I navigated to the directory that has the source and did a "bundle install" and it looked like it succedded but also installed vagrant and some other things which scared me a bit because I already have vagrant installed.

I am further concerned I am doing things wrong b

[2013-08-02 17:42] Sauraus commented on #40
@colema18 did you do 'git checkout vagrant-1.2'?

Also do not run [rake install], only [rake build] this will create the plugin-gem in the pkg direction after which you can run [vagrant plugin install .\pkg\vagrant-windows-1.2.0.gem]

[2013-08-02 17:50] colema18 commented on #40
I have 1.2. Looks like my rake version is too high?

c:\Projects\Win7\vagrant-windows-1.2>rake build
rake aborted!
You have already activated rake 10.1.0, but your Gemfile requires rake 10.0.4. U
sing bundle exec may solve this.
c:/Projects/Win7/vagrant-windows-1.2/Rakefile:2:in `<top (required)>'
(See full trace by running task with --trace)

(I can delete these comments after i am up and running

[2013-08-02 17:50] NicCOConnor commented on #35
Has there been any progress on this issue. I'm having the exact same problem. The First part of my recipes need to have a Domain Controller added. I'm getting 500 Errors from WinRM that I think might be related to this NTLM issue.

[2013-08-02 17:58] sneal commented on #40
bundle install
bundle exec rake
vagrant plugin install pkg/vagrant-windows-1.2.0.gem

[2013-08-02 18:11] sneal commented on #35
Not yet. I plan on tackling this when I get back from vacation in September.

[2013-08-02 19:02] colema18 commented on #40
thanks for the help guys, I have it installed now.

[2013-08-05 11:17] georgievrado commented on #73
@sneal  thanks. I will be calling the puppet agent from a PowerShell script. Note that seems that injecting Facter facts during runtime as described here: http://www.puppetcookbook.com/posts/override-a-facter-fact.html and used by the provisioner https://github.com/mitchellh/vagrant/blob/master/plugins/provisioners/puppet/provisioner/puppet_server.rb#L62 does not seem to work on Windows Puppet Age

[2013-08-05 14:16] trlinkin commented on #40
Just one more confirmation here... This worked fine for me.

[2013-08-05 15:29] ferventcoder commented on #73
This should be done like this:

[code]

But this probably belongs to another issue.

[2013-08-06 01:39] sneal commented on #40
Closing in favor of PR, issue #71

[2013-08-06 01:39] #40 closed, assigned to nobody

[2013-08-06 15:44] sneal opened #74 "chef-solo displays error "The system cannot find the path specified" on first provision"
INFO interface: info: Running chef-solo...
Running chef-solo...
DEBUG winrmcommunicator: powershell executing:
function which {
    $command = [Array](Get-Command $args[0] -errorAction SilentlyContinue)
    if($null -eq $command)
    {
      exit 1
    }
    write-host $command[0].Definition
    exit 0
}

function test ([Switch] $d, [String] $path) {
  if(Test-Path $path)
  {
    exit 0
  }
  exit

[2013-08-06 15:47] sneal opened #75 "Private networking doesn't work with VMWare Fusion plugin"
Need more detail...

[2013-08-06 17:08] gpurkins opened #76 "[vagrant-1.2 branch] Puppet provisioning error?"
I'm using puppet with vagrant-windows on the 1.2 branch, and it seems like it wants to error with the following:

[default] Mounting shared folders...
[default] -- /vagrant
[default] -- /tmp/vagrant-puppet/manifests
[default] Running provisioner: puppet...
The remote command returned a bad exit status of 1.

Shell: powershell
Command: chmod 0777 /tmp/vagrant-puppet

My current work around is to fi

[2013-08-06 17:39] sneal commented on #76
Do you know if this error is new in the vagrant-1.2 branch of vagrant-windows?

[2013-08-06 17:40] ferventcoder commented on #76
Can you run this with

[code]

[2013-08-06 17:41] ferventcoder commented on #76
Puppet provisioner works in the released gem.

[2013-08-07 15:20] gpurkins commented on #76
My group has just moved to vagrant 1.2.x so we have support for vagrant-aws. The released gem, from docs and trying it ,does not work for 1.2, I grabbed the 1.2-branch and built it. I had noticed there was a previous issue with chmodding in issues, wonder if jts related. When I get to my terminal, I'll run with debug on.

There is a workaround using shell provisioner. :shell, :inline => "puppet ap

[2013-08-07 15:46] amtrack commented on #76
Another workaround is to specify the `temp_dir` for the puppet config (see https://github.com/mitchellh/vagrant/blob/master/plugins/provisioners/puppet/config/puppet.rb)

[code]

[2013-08-07 20:00] gpurkins commented on #76
It looks like WinRM fires off fine, but then it tries chmod, which is no bueno in PowerShell:

which puppet
DEBUG winrmcommunicator: Exit status: 0
DEBUG winrmcommunicator: powershell executing:
function which {
    $command = [Array](Get-Command $args[0] -errorAction SilentlyContinue)
    if($null -eq $command)
    {
      exit 1
    }
    write-host $command[0].Definition
    exit 0
}

function

[2013-08-08 17:17] sstarcher commented on #40
Tested the current 1.2 branch against Vagrant 1.2.3 - 1.2.7 all seem to have the same error with the puppet money_patch.  Vagrant 1.2.2 seems to be working.

[2013-08-14 20:51] usepowershell commented on #61
I finally got around to putting in a pull request, sorry for the delay.  Feel free to use that in the gap to working on winrm 2.0.  If it looks like I'll be doing more Ruby, I can try to dig in on the winrm project, but I mainly live in the PowerShell space.

[2013-08-15 20:15] kashook opened #80 "Errors in chef run during chef provisioning aren't causing the vagrant provision to stop with an error"
I've been testing the latest code on the vagrant-1.2 branch.  I have several VMs that have multiple chef provisioners.  I've noticed that if one of the chef runs fails, it seems to move on and run the next provisioner instead of stopping the vagrant provision with an error.  I haven't investigated in depth, but my first guess is that the powershell script that's being run to do the chef run in mon

[2013-08-15 20:31] sneal commented on #80
Thanks for reporting this, I'll take a look at this in about a week.

[2013-08-16 11:04] georgievrado commented on #61
@smurawski 10x for the workaround. I've built the plugin from vagrant-1.2 branch and it properly sets the private network with Windows Management Framework 3.0 installed on 2008R2

[2013-08-16 13:46] usepowershell commented on #61
@georgievrado Glad I could help.

[2013-08-16 16:41] ferventcoder commented on #57
I just put in a pull request that would add instructions on this to those not familiar with how to do it (and vagrant doesn't have very good documentation spelling out how to install from a gem).

[2013-08-19 19:47] kashook opened #83 "Chef client provisioner output is garbled when using the vagrant-1.2 branch of vagrant-windows with Vagrant 1.2.5+"
Vagrant has two chef provisioners: chef_solo and chef_client.  I noticed recently when using the chef_client provisioner with a windows guest that the chef output is garbled in the console.  Each line of the log appears to overwrite the previous line as new lines are printed.  I've tracked this down to a combination of two things.  First, Vagrant made a change to all of their provisioners that cha

[2013-08-21 13:24] kashook commented on #83
Pull request: https://github.com/WinRb/vagrant-windows/pull/84

[2013-08-26 19:58] ferventcoder opened #85 "[Enhancement] Support Windows 2003"
This actually won't take anything more than documentation. Last week I got a Windows Server 2003 box running with vagrant and vagrant-windows. There are some out of band tools required here but so far pretty awesome to see such a tiny box (1.6GB) work with vagrant!

[2013-08-26 19:58] ferventcoder commented on #76
There was a pull request on this #82

[2013-08-26 20:01] ferventcoder commented on #73
FWIW, when I provide overridden facts it works fine with the agent. I'm using 1.2.7 of Vagrant, 1.2.0 gem (with jbronn's patch):

[code]

[2013-08-26 21:01] sneal commented on #85
Nice, I'm curious to see what's involved.

[2013-08-27 06:38] georgievrado commented on #73
Yep, the puppet agent provisioner works fine with this gem. The problem persists when you try to use the puppet server provisioner.

[2013-08-29 00:21] #61 closed, assigned to sneal

[2013-08-29 18:20] sneal commented on #80
Fixed

[2013-08-29 18:20] #80 closed, assigned to sneal

[2013-09-04 15:40] Iristyle opened #86 "vagrant winrm command -- add support like vagrant ssh"
Since the code is already written to do WinRM communication, it seems like a next logical step would be to implement a `vagrant winrm` command that acted as a REPL against the remote host.

The [Vagrant command docs](http://docs.vagrantup.com/v2/plugins/commands.html) seem pretty straight forward.

Have you given this any thought, or are there major sticking points to making this work properly?

[2013-09-04 17:47] sneal commented on #86
This is definitely something I'd like to see implemented. I'd like to wait until we upgrade to winrm2 gem since it has much better support builtin for this type of scenario.

[2013-09-04 19:28] etxnija opened #87 "Callback to Mac host fails, warning "Unknown configuration section 'winrm'." at vagrant up"
Windows guest 2008 does not notify back after vagrant up so it looks like vagrant is hung. In VirtualBox I can see the box being up. And I get his warning. But as far as I can see everything is installed correctly.

`

My enviroment:
OS X 10.8.4
Ruby managed by rbenv `ruby -v
ruby 1.9.3p327 (2012-11-10 revision 37606) [x86_64-darwin12.4.0]`
Vagrant:  `vagrant -v
Vagrant version 1.2.7`
Vagrant Plug

[2013-09-04 21:54] ferventcoder commented on #86
Yeah, :+1:

[2013-09-04 23:00] sneal commented on #87
You appear to be using a Vagrant 1.0 compatible Vagrantfile syntax. I would expect this as your first line:

[code]

[2013-09-06 04:05] gildas opened #88 "Windows Action SetHostName is not stable"
Quite often when vagrant tries to set the hostname in the windows box, there is no change.

As far as I know the wmic command line is not really to be trusted.

Using netdom works all the time.

I should submit a fix soon.

[2013-09-06 04:16] gildas commented on #88
BTW, sorry about the pull request. I thought it would grab only my commits, but it also grabbed commits from others.
I closed my pull request and hopefully nothing happened!

[2013-09-13 18:49] sneal opened #91 "Shared folders fail to mount on Vagrant 1.1.5"
vagrant up yields the following error:

[code]

As a temporary workaround use vagrant-windows 1.0.3.

[2013-09-13 21:23] pmorton commented on #85
@ferventcoder Any chance that you have had some time to work on this documentation. We would love to get it merged.

[2013-09-13 21:25] pmorton commented on #88
@sneal  What do you think of the fix? Is there any indication that the nedtom syntax is the same from Win7/Win2008 on up or is there different syntax depending on your version.

[2013-09-13 21:25] pmorton commented on #87
@etxnija  Did this resolve your issue?

[2013-09-13 21:42] pmorton commented on #83
Resolved by #84

[2013-09-13 21:42] #83 closed, assigned to nobody

[2013-09-13 22:07] sneal commented on #88
It appears the netdom syntax is the same, however it's not always available on the system, i.e. Server 2003, XP, and Win7. I'd like to know a little more about the problem.

[2013-09-14 02:50] sneal commented on #91
Fixed in 1.2.1

[2013-09-14 02:50] #91 closed, assigned to sneal

[2013-09-17 05:02] bf4 opened #98 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-09-18 16:48] etxnija commented on #87
@sneal @pmorton
Sorry for not getting back earlier. The issue stemmed from network settings  and ruby installations on my host machine. I solved it by start using the Ruby install from Chef and update my proxy shell proxy settings by adding no_proxy='127.0.0.1,10._,192.168._ since the guest windoes box tried to go through the proxy to notify vagrant.

[2013-09-18 16:48] #87 closed, assigned to nobody

[2013-09-20 04:26] ekacnet commented on #85
@ferventcoder: +1 on the question of @pmorton

[2013-09-20 04:53] ferventcoder commented on #85
Hey folks sorry for my lack of response so far. I am hoping to get details to you soon. The secret sauce is in a stack overflow question I answered the other day.

[2013-09-23 16:02] juliandunn opened #100 "Chef cookbook never gets uploaded"
I've been trying to use the new version of the vagrant-windows plugin with Vagrant 1.3.1 and the Chef Solo provisioner, but it looks like something is messing with the cookbook path, so the cookbook never gets uploaded. This doesn't happen with Linux boxes running under Vagrant.

Output:

[code]

and then later, of course, Chef doesn't run properly:

[code]

Any ideas?

[2013-09-23 18:42] juliandunn commented on #100
Never mind... user error.

[2013-09-23 18:42] #100 closed, assigned to nobody

[2013-09-24 12:20] ringods opened #101 "puppet not found on Windows VM when installed from MSI"
Environment:
- vagrant 1.3.1
- vagrant-windows 1.2.1
- vagrant-librarian-puppet-plugin 0.1.2

I have a Win2008R2 VM with Puppet 3.3.0 installed from the official MSI. When trying to `vagrant provision` the VM, I get this error:

[code]

The MSI installs the Puppet Agent as a Windows service, but if you want to run it interactively, you have to open a `Start Command Prompt with Puppet` shell. It st

[2013-09-24 19:05] ferventcoder commented on #85
Here's that link I was talking about - http://stackoverflow.com/a/18593425/18475

[2013-09-24 19:06] ferventcoder commented on #85
And here is the chocolatey package for it: http://chocolatey.org/packages/win2003-mklink

[2013-09-24 22:21] sneal commented on #101
Can you send a gist of your Vagrantfile?

[2013-09-25 01:11] ferventcoder commented on #101
We don't add puppet to the path with the msi installer. I'm not completely
sure why, let me check with @joshcooper.

On Tuesday, September 24, 2013, Shawn Neal wrote:

##

---

Rob
"Be passionate in all you do"

http://devlicio.us/blogs/rob_reynolds
http://ferventcoder.com
http://twitter.com/ferventcoder

[2013-09-25 06:41] ringods commented on #101
Here is my Vagrantfile:

https://gist.github.com/ringods/6695889

[2013-09-26 00:38] sneal commented on #85
@ferventcoder What do you think of the approach taken in #102?

[2013-09-26 12:05] sstarcher opened #103 "Winrm 503 during box booting"
Vagrant 1.2.4-1.2.7 with Vagrant-Windows 1.2.1
If I test winrm using gem winrm through my localhost port that has been forwarded I can execute commands on the windows machine, but vagrant never gets past the box booting.

On Vagrant versions prior to 1.2.4 I get a error with the monkey patch that was being applied and the code does not even get to booting the box and waiting for winrm.

The basebo

[2013-09-26 14:19] behrica opened #104 "configuration "config.winrm.hostname" is not used"
I have the situation that the connection via knife to the VM fails with a "501" error, if I run "vagrant up" againsta windows virtualbox with correct wirm configuration.

I could debug it down to a problem between using "127.0.0.1" versus "localhost".

The connection with "knife -m localhost" does work, while "knife - m 127.0.0.1" does not work. Even though localhost gets resolved to 127.0.0.1...

[2013-09-26 16:31] ferventcoder commented on #85
The approach works towards a more vanilla version of windows 2003 without having something like this installed. I'm kind of torn on which approach I like better. The approach I was taking was to bring Windows 2003 on par with the other Win OSes that are supported (and Windows XP as well), without having to change the code base for vagrant-windows. My approach is cleaner to your code base but his a

[2013-09-26 17:04] DrCord opened #105 "Virtual box never finishes opening Windows 7 GUI"
I really appreciate you making a plugin that allows windows Vagrant boxes with virtual box. It seems like it almost is working, but not quite. I went through the install instructions and the Windows7 machine boots to a screenshot of the login screen and sits there, never giving me an actual window to control the virtual machine. In case that isn't clear: the way I can tell it is running is through

[2013-09-26 17:20] sneal commented on #105
Add this to your Vagrantfile

[code]

[2013-09-26 17:20] #105 closed, assigned to nobody

[2013-09-26 18:45] sneal opened #106 "WinRMCommunicator execute doesn't throw an exception when a command fails"
The execute/sudo method should be throwing an exception when a command fails and error checking is true.

For example the puppet provisioner executes 'which puppet' fails, but it only returns an exit status of 1. The Vagrant puppet provisioner expects an exception to be thrown.

[2013-09-26 18:47] sneal commented on #101
Vagrant and vagrant-windows make the assumption that "puppet" is in your PATH. We could update vagrant-windows to be more accommodating and default to the default install location, but I'd prefer not to do that until I have the time to rewrite the provisioners to be Windows specific rather than the monkey patches mess they are today.

This has pointed out a bug in the WinRMCommunicator. The execut

[2013-09-26 19:08] ferventcoder commented on #101
As a link back to track our progress on putting puppet on the PATH - http://projects.puppetlabs.com/issues/22700

This would not apply until the 3.4 release though, so perhaps some support there earlier would be good.

[2013-09-26 19:12] ferventcoder commented on #101
Here is the workaround for this:
- In your vagrant file, put in a shell provisioner - https://github.com/ferventcoder/vagrant-windows-puppet/blob/master/boxes/win7x64pro-vagrant/Vagrantfile#L23
- Make a call to something to set the install directory to your path permanently - https://github.com/ferventcoder/vagrant-windows-puppet/blob/master/boxes/win7x64pro-vagrant/shell/main.cmd#L8
- Ensure that

[2013-09-26 21:28] DrCord commented on #105
works perfectly, thanks for the fix and the super quick response!

[2013-09-26 23:36] pmorton commented on #85
In full disclosure, I am pretty uninterested in supporting windows xp and windows 2003 as both are nearing sunset. That said:
1. Any new fixes or features for older platforms should not increase the complexity of the code base.
2. I am not a fan of using tools which are not baked in to the base os  install. To use non-base system tools, you will either need to automate the download (which requires

[2013-09-27 00:15] sneal commented on #85
@pmorton Thanks for chiming in. After thinking about this all day I really have no desire to support XP/2003 either. I'll update the readme as such:
1. XP/2003 are not supported.
2. Any issues regarding any unsupported guest OS will be ignored and closed.
3. If you still insist on using 10+ year old OSs then you're on your own and BTW: http://stackoverflow.com/a/18593425/18475

[2013-09-27 09:10] ringods commented on #101
Rob, thanks a lot for the fully functional workaround!

[2013-09-27 14:38] sneal commented on #101
:+1: @ferventcoder

[2013-09-27 14:38] #101 closed, assigned to nobody

[2013-09-27 15:53] ferventcoder commented on #85
@pmorton @sneal Actually XP has already sunsetted (I think). 2003 still has about two years left of MS support and we and other companies will probably carry support for it until MS sunsets it. Otherwise I completely agree about not supporting it.

The method I was going to document required no changes to the codebase (because I feel the same way as you, putting in code to help an older system lim

[2013-09-27 17:48] sneal commented on #85
I'm willing to accept some minimal changes to help out 2003 assuming it doesn't require branching logic or in any other way complicates or degrades the code base. In other words if the change is overall a good change for _all_ guest OSs, I'm fine with it. Having said that, its a grey area and there's always the very likely chance of making a breaking change for unsupported OSs.

Any help with the

[2013-09-29 06:57] rivy commented on #85
XP and 2003 hit end-of-support in April 2014. But, if you look at current usage statistics (see [OS Usage Rates](https://en.wikipedia.org/wiki/Usage_share_of_operating_systems)), XP still maintains a 33% usage share, which is more than 4 times the usage share of any other OS, excepting the leader, Win7, at 45%. And my experience is that there is a lot of continued use of virtual XP machines, espec

[2013-09-30 01:54] ferventcoder commented on #85
Technically XP hits end of life on April 2014. The other thing in the article is Office 2003, not Windows 2003.

See http://www.microsoft.com/en-us/windows/endofsupport.aspx and  http://windows.microsoft.com/en-us/windows/products/lifecycle (first article is the relevant one).

If you take a look here Win2003 in the US has until 7/14/2015 - http://support.microsoft.com/lifecycle/default.aspx?LN=en

[2013-09-30 01:58] ferventcoder commented on #85
That's where my argument of about two years of support left. Who knows if they will end up extending 2003 even more? XP has been extended what, about twice now? :)

[2013-09-30 02:04] ferventcoder commented on #85
@sneal I will see what I can do. I know that we love this product internally. :+1:

[2013-09-30 23:28] tvjames opened #107 "When starting vagrant on a windows host, with the puppet provisioner, if the modules path is supplied throws an error"
When running running a windows guest (2008R2) on a windows host (Win7) using the puppet modules config:

[code]

Results in the following error, which I can only reproduce on windows, a mac host works fine:

[code]

I've been using the following workaround:

[code]

[2013-09-30 23:47] ekacnet commented on #85
@pmorton @sneal 2003 will soon be out of support but if you compare to Windows 2008 or 2008R2 Windows 2003 VMs are really lightweight in terms of CPU/Memory/Disk usage.
It means that you can run more VMs in a given PC. When you work on AD reimplementation as we do in the Samba teams being able to spawn quite a lot of DC makes a lot of sense for testing replication scenarios.

[2013-10-01 01:20] sneal commented on #85
I definitely understand the desire for smaller footprint VMs. Have you tried using Windows Server 2012 Core? [It uses less resources](http://msdn.microsoft.com/en-us/library/windows/desktop/hh846314%28v=vs.85%29.aspx) than a full install and doesn't require as many patches.

[2013-10-01 01:28] sneal commented on #107
Do you get the same error on the Windows host with a newer version of Vagrant? IIRC that error happens on older versions of Vagrant instead of properly reporting back the real config validation error.

Its likely a pathing problem on Windows hosts, but its hard to tell given the error and I don't have a Windows host handy to try and reproduce it.

[2013-10-01 01:30] tvjames commented on #107
I'm running vagrant 1.2.2 so I'll upgrade and get back to you.

[2013-10-01 03:50] ferventcoder commented on #107
1.2.2 was one that definitely had issues with vagrant windows.

On Monday, September 30, 2013, Thomas James wrote:

##

---

Rob
"Be passionate in all you do"

http://devlicio.us/blogs/rob_reynolds
http://ferventcoder.com
http://twitter.com/ferventcoder

[2013-10-01 06:36] tvjames commented on #107
Yup, that was the issue, upgraded to 1.3.3 and the issue is no more. Thanks.

[2013-10-01 06:36] #107 closed, assigned to nobody

[2013-10-05 20:24] noahprince22 opened #109 "config.winrm.host does not do anything, winrm is still trying to connect to a localhost port"
I'm using vagrant-windows trying to connect to a bridged vagrant vm. Because it's a bridged connection, the usual method of connecting via a local host port doesn't work.

On the github readme, it says you can use config.winrm.host to set the guest's IP. I've implemented this in my vagrant file, then ran vagrant with the logger open, and it's still trying to connect to 127.0.0.1 port 5985 (the def

[2013-10-07 12:55] ringods commented on #101
@ferventcoder I tested with Puppet 3.3.1-rc3 and it works without the workaround of adding Puppet to the system path myself. Tnx!

[2013-10-07 13:03] ferventcoder commented on #101
@ringods I guess we got that one in a little early. :)

[2013-10-07 21:29] sneal commented on #109
Duplicate of #104

[2013-10-07 21:29] #109 closed, assigned to nobody

[2013-10-07 21:35] sneal commented on #103
Can you send a gist of the debug vagrant output?

[2013-10-08 03:25] Bartvds commented on #85
@ferventcoder @rivy: do you think your solutions for Windows XP and/or 2003 could work on the official XP test image?

Microsoft offers these virtual machines for many platforms (VirtualBox/VMWare etc): all free and legal for testing purposes (focus is on old browsers but they are usable for anything): http://www.modern.ie/en-us/virtualization-tools

We use them for 'manual' testing (yesyes.. that

[2013-10-09 16:48] ferventcoder commented on #85
@Bartvds I can tell you that mine will not. It's about adding things to the VM to make them compatible with vagrant and not building vagrant-windows closer to them if that makes sense.

[2013-10-09 22:12] pmorton commented on #85
@Bartvds I think that this is an interesting _thing_ to look into. One the the major issues with vagrant-windows is that we have no way to distribute a base box to get started quickly. We have to give _lame_ instructions on how to build a box. I dream of a world where we could say.... Here use this vagrant file. Sigh.

[2013-10-09 22:15] pmorton commented on #85
@Bartvds I took a peak to download _and_ they are really distributed as <strong>fucking self-extracting rar files</strong>. :person_with_blond_hair:  :gun:

[2013-10-09 22:56] Bartvds commented on #85
@pmorton Wouldn't that be nice? We can dream though :smile:

Maybe you can work with that Microsoft team on this? IRC the group behind Ubuntu had some form of support for Vagrant so why not MS?

See if they want to support Vagrant with some ready made base boxes on their CDN. They already spend a lot of resources on making these browser tests images available; taking this extra step might be a nic

[2013-10-10 01:04] Bartvds commented on #85
I found the announcement for Ubuntu's support: http://blog.utlemming.org/2013/01/vagrant-cloud-images.html

See if you can get MS to play ball on this too.

[2013-10-10 14:33] sneal commented on #98
@pmorton Which license would you like to use for vagrant-windows? MIT, Apache2, something else?

[2013-10-10 23:44] pmorton commented on #98
Apache 2

[2013-10-11 19:51] sneal commented on #104
Fixed in 1.2.2

[2013-10-11 19:51] #104 closed, assigned to nobody

[2013-10-11 19:52] sneal commented on #98
Fixed in 1.2.2

[2013-10-11 19:52] #98 closed, assigned to nobody

[2013-10-11 19:54] sneal commented on #58
As a potential workaround you could try setting winrm.host to 10.11.12.16 in your Vagrantfile, vagrant-windows 1.2.2 will use that config value if set.

[2013-10-11 19:54] #58 closed, assigned to nobody

[2013-10-18 06:40] lsim commented on #104
Any news on when the 1.2.2 will be available via 'vagrant plugin install vagrant-windows'? It appears I am currently block by this issue.

If I absolutely have to, I will build from source, but as I am not a ruby developer, I don't have any of the prerequisites on my system, so it would incur a bit of unwanted overhead.

Thanks for working on this plugin, by the way. I was very happy to find it.

[2013-10-18 16:35] sneal commented on #104
Monday. I wasn't able to cut the gem before I went out of town.

On Oct 17, 2013, at 11:40 PM, lsim notifications@github.com wrote:

[2013-10-19 11:40] chiriaev opened #112 "[ Vagrant/Puppet Windows 2008R2 guest ] : Failed to get security information: Incorrect function."
Guys, Hello. First of all, I would like to thank you for your amazing work! Well done. Now, the issue I have:

I am using Vagrant 1.3.4 with “vagrant-windows” 1.2.1. My host system is OEL 6.3. The guest is Windows 2008 R2. I am provisioning with Puppet 3.2.4 pre-installed on my guest. My “synced_folder” is mounted correctly and my software is 99% installed.

The failing/remaining 1% is for cases w

[2013-10-21 16:14] #85 closed, assigned to nobody

[2013-10-21 16:15] sneal commented on #106
Fixed in 1.2.2

[2013-10-21 16:15] #106 closed, assigned to nobody

[2013-10-21 16:18] sneal commented on #76
I believe this is resolved, if not please reopen.

[2013-10-21 16:18] #76 closed, assigned to nobody

[2013-10-21 16:38] sneal commented on #112
Do you have an easy way for me to repro this problem?

BTW - I'm not really all that familiar with puppet, I'd recommend asking the Puppet guys for help. They'll have a better understanding of the underlying issue.

[2013-10-21 17:23] sneal commented on #103
Did you get this working? Can you try vagrant-windows 1.2.2?

[2013-10-21 17:25] sneal commented on #104
@lsim 1.2.2 has been released.

[2013-10-21 20:43] chiriaev commented on #112
Hi. It is very specific to Puppet modules being hosted on a Vagrant mounted share in Windows. You can try with a basic Puppet module that copies a singe ".bat" file from the mount to a local Windows drive. I can come out with an example if it helps.

Regards, Andrei

[2013-10-22 08:02] lsim commented on #104
Works nicely. Thanks!

On Mon, Oct 21, 2013 at 7:26 PM, Shawn Neal notifications@github.comwrote:

[2013-10-22 17:01] sneal opened #116 "Vagrant up sometimes doesn't run chef-solo when it should"
When running 'vagrant up' sometimes the chef-solo provisioner runs, but then fails to actually start chef. It just stops after mapping the chef related directories.

[default] Creating shared folders metadata...
[default] Clearing any previously set network interfaces...
[default] Preparing network interfaces based on configuration...
[default] Forwarding ports...
[default] -- 22 => 2222 (adapter

[2013-10-23 15:12] cdmoye opened #117 "Can't get vagrant-windows to install on Linux host"
I'm running RHEL 6, and Vagant 1.3.5. Here's what I'm trying:

vagrant plugin install vagrant-windows

Here's what I'm getting back:

http://pastebin.com/Hknir0z7

[2013-10-23 15:41] raulbrito commented on #117
Hi,

Not sure if it's the root cause for your error, but vagrant-windows only supports vagrant until v1.2, so you need to downgrade. Check here: https://github.com/WinRb/vagrant-windows#installation . Sad but true :|

[2013-10-23 15:45] cdmoye commented on #117
It could easily be related to that. However, I tried it with older vagrants last week (1.1 and 1.2) and had similar issues.

[2013-10-23 15:45] sneal commented on #117
@raulbrito Vagrant 1.1 through 1.3.5 is supported with the latest plugin gem. I'm running Vagrant 1.3.5 with vagrant-windows 1.2.2.

[2013-10-23 15:48] sneal commented on #117
@cdmoye I assume you're using the Vagrant 1.3.5 rpm package? I haven't tried vagrant-windows on RHL yet, but I would like too.

[2013-10-23 15:52] raulbrito commented on #117
@sneal wow, great news! not sure how i've missed that one. time for some upgrading..

[2013-10-23 15:53] sneal commented on #117
@raulbrito I just updated the readme, you're right in that it wasn't clear.

[2013-10-23 16:14] raulbrito commented on #117
@sneal :thumbsup:

[2013-10-23 16:22] cdmoye commented on #117
Yes. That's the package I'm using.

----- Reply message -----
From: "Shawn Neal" notifications@github.com
To: "WinRb/vagrant-windows" vagrant-windows@noreply.github.com
Cc: "cdmoye" cdmoye@gmail.com
Subject: [vagrant-windows] Can't get vagrant-windows to install, and I'm sad :( (#117)
Date: Wed, Oct 23, 2013 11:48

@cdmoye I assume you're using the Vagrant 1.3.5 rpm package? I haven't tried vagran

[2013-10-23 16:47] cdmoye commented on #117
Sorry, wrong button :)

[2013-10-23 17:22] cdmoye commented on #117
BTW, if it's useful, here is a pastebin of the compile.log referenced in the earlier error: http://pastebin.com/y6QPHeCV

[2013-10-23 19:19] cdmoye commented on #117
Hm. I just stood up a brand new Fedora 18 box and have run a total of two commands on it (after a yum update, and downloading vagrant 1.3.5):

sudo rpm -Uvh vagrant_1.3.5_x86_64.rpm
vagrant plugin install vagrant-windows

I get the same error messages as on the RHEL 6 box. The exact same ones. Am I missing something somewhere? Seems like I must be.

[2013-10-23 19:41] sneal commented on #117
It appears to fail compiling Nokogiri's native extensions, perhaps [this](http://nokogiri.org/tutorials/installing_nokogiri.html) will help.

[2013-10-23 23:54] sneal opened #118 "chef-solo provisioner doesn't retry"
The provisioner should pass :error_check => false when calling sudo on the communicator (just like core vagrant). Without this the communicator raises an exception which immediately errors out vagrant.

This is only an issue in 1.2.2 because the communicator now obeys the error_check option.

[2013-10-23 23:58] sneal opened #119 "chef-solo provisioner fails with a CookbookNotFound error if a reboot occurs after vagrant up"
The chef provisioner symbolic links are broken after a reboot until the user opens a share through Explorer. This makes it impossible to run multiple provisioners where one of the steps reboots the box.

Repro:
1. `vagrant up --no-provision`
2. Reboot the box from the guest (and not through Vagrant)
3. After the box has rebooted run `vagrant provision`

[2013-10-24 00:03] sneal commented on #119
This is similar, yet different than https://github.com/mitchellh/vagrant/issues/1587

[2013-10-24 12:27] cdmoye commented on #117
Nokogiri does seem to be the issue. First, I can't install it without ruby-doc. I fixed that, but the bigger part is this:

ERROR:  Error installing nokogiri:
    nokogiri requires Ruby version >= 1.9.2.

Vagrant's built-in ruby is 1.9.1. I'm trying to work around that now, but rvm is giving me fits. Installing and setting the ruby version via sudo doesn't seem to stick for subsequent calls to sud

[2013-10-24 14:11] cdmoye commented on #117
So, I've played a lot with things. Installing newer versions of ruby from source, trying to install nokogiri from gem install, things like that. However, nothing has really affected anything.

In the second pastebin that I posted (http://pastebin.com/y6QPHeCV), the compile.log contains what I'm sure is a clue:

./.libs/libxml2.so: undefined reference to `gzopen64'

gzopen64 is supposedly in zlib.

[2013-10-24 14:29] cdmoye commented on #117
So, I think I've narrowed it down to a problem getting libxml2 to compile. If I download the 2.8.0 source directly from xmlsoft.org and compile/install it like so:

wget ftp://xmlsoft.org/libxml2/libxml2-2.8.0.tar.gz
tar zxvf libxml2-2.8.0.tar.gz
cd libxml2-2.8.0
./configure
sudo make install

I get that same error:

  CCLD   xmllint
./.libs/libxml2.so: undefined reference to `gzopen64'
collect2:

[2013-10-24 17:49] bf4 commented on #98
Awesome, thanks! :rainbow:  (And I apologize for my delay in following up.)

[2013-10-24 18:43] cdmoye commented on #117
I've now tried it on Ubuntu 13.10 (clean install) and have the same issue. So, I guess the question is, how is everyone else making it work? :)

[2013-10-24 19:24] stonith commented on #117
I get similar issues on ubuntu 13.10. However, on my Windows and OSX host I don't have these problems installing vagrant-windows.

[2013-10-24 19:59] kashook commented on #119
I hit this as well!  I found that if you issue a "net use" command (with no additional arguments) that it seems to "wake up" the symbolic link.

[2013-10-24 20:12] kashook commented on #119
In my case, my Vagrantfile had a shell provisioner that would reboot the box so that a new host name would take effect.  Later in the same Vagrantfile I had a chef provisioner, and the chef run would fail with a CookbookNotFound error.  I added another shell provisioner to my Vagrantfile after the reboot but before the chef provisioner that issues a `net use` command, and so far that seems to have

[2013-10-24 22:00] sneal commented on #119
I've been playing with this fix locally in the chef-solo provisioner.:

[code]

Sounds like you came up with the same solution :smile:

I'd like to be able to have a single Vagrantfile with multiple provisioner blocks, some with reboots in between (we're talking about Windows here after all).

[2013-10-24 22:52] sneal commented on #117
Out of curiosity can you plain old 'gem install vagrant-windows'?

[2013-10-25 00:48] sneal commented on #119
Fixed in 1.2.3

[2013-10-25 00:48] #119 closed, assigned to sneal

[2013-10-25 00:48] sneal commented on #118
Fixed in 1.2.3

[2013-10-25 00:48] #118 closed, assigned to sneal

[2013-10-25 00:50] sneal commented on #103
Closing this for now. If you're still having problems please re-open.

[2013-10-25 00:50] #103 closed, assigned to nobody

[2013-10-25 00:51] kashook commented on #119
Nice!  I actually got on here to report what I had found and to make a case for dealing with this problem in vagrant-windows (even though this problem is not vagrant-windows' fault) and ended up finding that you had logged this issue.  I'd love to see the plugin deal with this so we don't have to put workarounds in our vagrantfiles.  A `net use` with no additional arguments seems to do the trick,

[2013-10-25 00:52] kashook commented on #119
When I started writing my last comment, you had not yet closed the issue.  Feel free to ignore. :)

[2013-10-25 00:53] sneal commented on #88
Closing this for now, at least until we have a better understanding of the problem. wmic has been reliable on Windows Server 2008 R2 for me.

[2013-10-25 00:53] #88 closed, assigned to nobody

[2013-10-25 01:02] sneal commented on #119
Cool. I just pushed the 1.2.3 gem.

I'll try tweaking the syntax in a future release, thanks!

[2013-10-25 01:47] gildas commented on #88
Sorry, got caught on other stuff.
I will try again with Windows 2012. And will try to dig a little further.
As for 2003 and XP, I have to apologize, but we do not support these anymore at my company. I understand a lot of people might still use them, though.

[2013-10-25 02:56] sneal commented on #88
vagrant-windows doesn't support 2003 or XP either :smile:

[2013-10-25 03:00] gildas commented on #88
Ah, ah! So the only one to be nice to is Windows 7.
That said, I would prefer the wmic/powershell version to work on Windows 2012.
After all, Microsoft is killing all their legacy apps one after the other for the cleaner powershell-based approach.
And I like that.
netdom being a legacy app...
I need to make some progress with my automated lab, so I cannot do the test on a brand new Windows 2012 ag

[2013-10-25 03:04] gildas commented on #88
Ok, fun is, I have just upgraded my vagrant to 1.3.5 and the vagrant-windows plugin is now 1.2.1.
Which means I am going to use the wmic version now.
I should be able to give you an update sooner than I thought.

[2013-10-25 12:59] cdmoye commented on #117
Looks to be the same result: http://pastebin.com/528W8At3

Something that nokogiri needs just isn't present by default. Who needs to parse XML anyhow? ;)

[2013-10-25 14:16] sneal commented on #116
Most often this happens after vagrant tries to map the cookbooks folder. I'm not sure, but this might be limited to boxes that have previously been vagrant up'd previously and not new boxes.

[2013-10-25 14:48] sneal commented on #117
I tried installing the gem on an old Ubuntu 11.10 VM (that didn't have Ruby yet on it) and it installed fine after I installed Ruby and the Ruby devkit.

[code]

The only obvious differences is my VM has Ruby 1.9.1. and does not have RVM installed. I'll try a newer Ubuntu version later today.

[2013-10-25 16:11] cdmoye commented on #117
Interesting. Using those steps, it installs fine on ubuntu 13.10. Let me try it with Ruby 1.9.1 on my RHEL  box (I was trying with ruby 2.0.0).

[2013-10-25 16:42] yoeddy commented on #100
@juliandunn, what was the use error?  Could you add it for other people who find this error?

[2013-10-25 18:05] cdmoye commented on #117
Still no love on RHEL 6 with ruby 1.9.1

ERROR:  Error installing vagrant-windows:
    nokogiri requires Ruby version >= 1.9.2.

I tried it with 1.9.2 and 1.9.3 all to no avail as well. At this point, I'm starting to assume that RHEL 6 is just too jacked up to support vagrant-windows, which rules it out in our space (likely along with windows guests via vagrant  because I can't figure them out any

[2013-10-25 22:45] juliandunn commented on #100
Damned if I can remember but I think it was that my cookbooks_path was set wrong in knife.rb. No idea why it would affect an isolated vagrant VM in a directory, but I had no time to investigate.

[2013-10-27 17:42] tendervittles opened #123 "Vagrant-windows install failure on CentOS 6.4"
Hello,

Vagrant plugin install vagrant-windows failed on CentOS 6.4.

Please let me know if this should be filed as a Vagrant issue.

It appears that vagrant-windows is including /opt/vagrant/embedded/include/zlib.h during the compile. However, it is linking against my system's zlib, which doesn't have the exact same symbols. This breaks the install.

As a fast workaround I moved Vagrant's zlib.h

[2013-10-27 18:06] tendervittles opened #124 "Vagrant reload does not check WinRM port"
If have seen this behavior on both CentOS 6.4 and OS X 10.9 hosts.

I am running Vagrant 1.3.4.

Please let me know if this should be filed against Vagrant.

In my Vagrantfile I specify the WinRM port and a forward in a multi-machine environment:

[code]

This works. My machine comes up reliably.

[code]

Now I edit the Vagrantfile and use port 10001, then reload

[code]

[code]

If I vagrant halt

[2013-10-28 04:43] tendervittles commented on #123
The problem isn't with vagrant-windows. It is with Vagrant's x86_64 rpm. The file .vagrant.d/gems/gems/nokogiri-1.6.0/ext/nokogiri/tmp/x86_64-redhat-linux/ports/libxml2/2.8.0/libxml2-2.8.0/config.log is littered with:

[code]

See how the -L ends with }. This is causing the problem.

It appears that /opt/vagrant/bin/vagrant is the culprit. These lines should not end with }.

[code]

[2013-10-28 04:43] #123 closed, assigned to nobody

[2013-10-28 05:14] tendervittles commented on #117
I filed a duplicate issue on this same problem. I didn't notice this thread.

To fix just remove the extra } character at the end of the lines mentioned here:

https://github.com/mitchellh/vagrant/issues/2427

[2013-10-28 12:10] cdmoye commented on #117
Ding ding ding! We have a winner! Thanks!

[2013-10-28 13:07] cdmoye commented on #117
I'm closing this since it seems to be an issue in the vagrant script.

[2013-10-28 13:07] #117 closed, assigned to nobody

[2013-10-28 14:16] ringods opened #125 "1.2.2 and up return an error for successful Puppet provisioning"
This morning, I upgraded vagrant-windows from 1.2.1 to 1.2.3. Since then, every run (which was successful before) ends with an error:

[code]

Version 1.2.2 gives the same results. Could this be related to this commit?

SHA: c28998b05cf1f5c33521110b8a28e67d574dea63

[2013-10-28 15:10] sneal commented on #125
It appears the Puppet run is failing with an exit code of 1. Vagrant-windows 1.2 and 1.2.1 would produce false positives by not properly raising exceptions when a command failed.

The portion of this change which you've noticed is that the default for commands is to throw an exception if it fails rather than return the non-zero exit code (just like core Vagrant). In 1.2 and 1.2.1 vagrant-windows w

[2013-10-28 15:11] sneal commented on #123
Nice work figuring this out!

[2013-10-29 00:34] sneal opened #126 "cheftask.ps1 can sometimes try to read a negative number of lines"
<Objs Version="1.1.0.1" xmlns="http://schemas.microsoft.com/powershell/2004/04"><S S="Error">Select-Object : Cannot validate argument on parameter 'First'. The -26 argument_x000D__x000A_</S><S S="Error"> is less than the minimum allowed range of 0. Supply an argument that is greate_x000D__x000A_</S><S S="Error">r than 0 and then try the command again._x000D__x000A_</S><S S="Error">At C:\tmp\vagran

[2013-10-30 08:19] nopower0 opened #127 "vagrant provision hang when running .exe in the batch file using shell provisioner"
I'm using Vagrant 1.2.7 + vagrant-windows 1.2.3.
When I run .exe program inside the batch file, provisioning will hang no matter I'm running up, provision or reload. Simple commands are fine, for example, "xcopy A B" works fine, but "start C:\" will make it hang there.

[2013-10-30 22:54] sneal commented on #126
This seems to happen if a previous chef run was aborted in the middle, lets say because of a reboot by an installer.

[2013-10-31 16:24] dawilliams commented on #119
sneal,

I just upgraded and retested this with vagrant-windows 1.2.3.  Here the steps I ran.  Did this fix address the failure on vagrant up or do you have to run vagrant provision after vagrant up?
1. vagrant up
   My cookbook triggers a reboot
   The machine reboots and Chef kicks off again automatically
   Chef fails with:
   Chef::Exceptions::CookbookNotFound: Cookbook windows not found. If yo

[2013-10-31 16:40] sneal commented on #119
PR #122 fixes the the CookBookNotFound error when the chef provisioner fails on the first attempt and has to retry. The fix for #119 only fixed the issue if there was a reboot _before_ the first attempt.

So yeah, this issue was only sort of fixed.

[2013-10-31 17:19] dawilliams commented on #119
Ok, thanks for the follow up.

[2013-11-01 07:32] patatepartie opened #128 "Base box configuration described in wiki is not correct for Windows 2008 R2 and WinRM 1.1"
By default the http port for WinRM 1.1 is 80. To change it:

[code]

And powershell needs to be enabled:
http://www.tech-recipes.com/rx/2521/windows_server_2008_install_windows_powershell/

[2013-11-02 05:56] johnjelinek commented on #128
Would not setting this cause Win2008r2 to hang at `Waiting for machine to boot. This may take a few minutes...`?

[2013-11-02 06:18] patatepartie commented on #128
Actually it times out after a (long) while, but yes, it hangs on that sentence for a while.
If you enable vagrant's logs you can see that it actually tries the request multiple times.

[2013-11-03 18:30] sneal opened #129 "vagrant halt fails if a provisioner has already scheduled a reboot"
Sometimes two shutdown commands get issued like so:
shutdown /r /t 60 /c "Because Chef said so"
shutdown /s /t 1 /c "Vagrant Halt" /f /d p:4:1

Sample output:
[Step 3/5] [2013-11-01T19:04:44-07:00] WARN: chef_handler[WindowsRebootHandler] requested reboot will occur in 60 seconds
[19:04:50][Step 3/5] [2013-11-01T19:04:44-07:00] INFO: Report handlers complete
[19:04:50][Step 3/5]
[19:04:50][Step 3/

[2013-11-05 16:22] kashook opened #130 "possible performance improvement in chef solo provisioner"
The chef solo provisioner is executed in a scheduled task in the VM.  I noticed that the priority of the task is pretty low.  I wonder if increasing the priority would speed up the chef runs. Valid priority values can be found [here](http://msdn.microsoft.com/en-us/library/aa383512.aspx).  The current priority being used is 7.  I haven't done any experimentation at all.  I just wanted to get the i

[2013-11-05 20:59] sneal opened #131 "VMware Fusion provider sometimes causes Chef provisioner to print errors after completion"
Sometimes when provisioning with Chef-Solo with the VMware Fusion Vagrant provider an error similar to the following will be printed to stdout:

<Objs Version="1.1.0.1" xmlns="http://schemas.microsoft.com/powershell/2004/04"><S S="Error">Get-Content : Cannot find path 'C:\tmp\vagrant-chef-1\chef-solo.log' because it_x000D__x000A_</S><S S="Error"> does not exist._x000D__x000A_</S><S S="Error">At C:

[2013-11-06 09:34] dabide opened #132 "Timeout when running vagrant up on Windows 7 host"
When I run `vagrant up`, it eventually times out while detecting if the OS has booted. The VM boots fine.

Here's the debug log: http://pastebin.com/76uxrDYY

[2013-11-06 10:48] dabide commented on #132
I found the reason: I had set the network connection profile to Public in stead of Home or Work, thus making the WinRM configuration fail. (Next time, I should pay closer attention to the error messages...)

Perhaps this should be in the README?

[2013-11-06 16:14] sneal commented on #132
Mind sending a PR with an updated readme?

[2013-11-06 16:15] sneal commented on #130
Good suggestion.

[2013-11-07 11:54] ringods commented on #125
Something has in an influence on the outcome of the puppet run. I have a manifest that installs the .NET Framework 3.5 for me using the winfeature module:

[code]

Running this via Vagrant has this outcome:

[code]

The installation of the feature was successful, but still the error code seems to be 1. I then changed my Vagrant so I can run puppet manually: giving it an empty manifests just to let

[2013-11-07 12:22] ringods commented on #125
Just after posting my previous message, I started digging in the vagrant-windows code and noticed this line:

https://github.com/WinRb/vagrant-windows/blob/master/lib/vagrant-windows/monkey_patches/plugins/provisioners/puppet/provisioner/puppet.rb#L44

From the Puppet docs:

[code]

So a successful Puppet can return a non-zero return value. Does the Powershell executing `puppet apply` interpret th

[2013-11-07 12:25] ringods commented on #125
Something to keep in mind: http://zduck.com/2012/powershell-batch-files-exit-codes/

[2013-11-07 13:04] ringods commented on #125
And dropping `--detailed-exitcodes` from the command prompt is not (yet) an option as we could be bitten by this Puppet bug:

http://projects.puppetlabs.com/issues/19033

[2013-11-07 14:56] sneal commented on #125
Interesting. With `--detailed-exitcodes` It seems like we should be looking for an exit code of 0 or 2, otherwise we should assume a failure. Do you have any recommendations here?

[2013-11-07 15:00] sneal commented on #125
And yes, anything other than 0 is currently interpreted as an error by the puppet provisioner [here](https://github.com/WinRb/vagrant-windows/blob/master/lib/vagrant-windows/monkey_patches/plugins/provisioners/puppet/provisioner/puppet.rb#L67). The winrm communicator by default checks all exit codes and raises an exception for anything other than 0.

[2013-11-09 10:30] StevenArmstrong commented on #74
Any ideas what is causing this as it is proving a major annoyance when I am provisioning windows boxes and as a result I can't use proper error handling. Is there any short term work arounds?

[2013-11-09 15:22] sneal commented on #74
I don't understand how this is a major annoyance, is it causing your provision to fail or something? Right now this doesn't cause any problems for me besides some red text in the console, so its pretty low priority.

[2013-11-09 18:39] StevenArmstrong commented on #74
I am scheduling the provisioning as a build step in Jenkins as part of a deployment pipeline, I then need to execute subsequent jobs after the provisioning step. However, as the provisioning step is throwing an exit code of 1 due to this issue, Jenkins throws an error on this step as it has an exit code >0. At the moment I am having to switch on continue on error for this step, but now my deployme

[2013-11-09 23:22] sneal commented on #74
Thanks for explaining. I don't think _this_ is your issue, I have a bunch of TeamCity builds setup that run the Chef provisioner just fine.

Are you using vagrant-windows 1.2.3? Failing an upgrade, can you send me the debug log output of one of your failed runs?

[2013-11-10 01:34] StevenArmstrong commented on #74
Hi Shawn,

Yes I am using vagrant-windows 1.2.3.
I have attached my build log. I am executing vagrant from a standard exec
command in msbuild. Jenkins is just running the msbuild script which is
running the vagrant up command line.
Thanks for your help on this :)

Kind Regards,
                     Steven

On Sat, Nov 9, 2013 at 11:22 PM, Shawn Neal notifications@github.comwrote:

[2013-11-10 15:44] sneal commented on #74
I don't see a log attached

[2013-11-13 09:36] pghalliday opened #133 "Chef fails creating directory in synced folder"
I am syncing a host directory and have a chef recipe that needs to create a sub directory in it. The recipe works fine if the directory created is within the file system of the guest but when I try to create the directory in the synced folder I get the following error from the `get_named_security_info` Win32 API call. Any thoughts?

[code]

The directory itself is created, so I guess the failure i

[2013-11-13 17:13] pghalliday commented on #133
I also noticed that I get a similar issue with the version of gcc I have to use which runs into an `Invalid request code` error accessing files in the mounted directory.

However I have noticed that the way the directory is mounted under windows with VirtualBox is to create a network share and then create a shortcut to that network share in the local file system.

I also noted that I don't run int

[2013-11-13 17:45] #132 closed, assigned to nobody

[2013-11-14 00:58] sneal commented on #133
Seems to be the same issue as https://github.com/WinRb/vagrant-windows/issues/112

I'd like to see this get fixed, but I'm not sure why this is happening.

[2013-11-14 01:12] sneal commented on #35
@pmorton Any thoughts on moving forward with the WinRM 2.0 gem? I'd be willing to help push this forward.

[2013-11-14 08:47] pghalliday commented on #133
Yes I think you're right. I was wondering if mounting the share to a drive letter first and then linking to that would workaround the problem. I'm going to look into how you create the link (I presume that is done by this plugin)

[2013-11-14 09:16] pghalliday commented on #133
Unfortunately I can't get this to work using `mklink` to a remote directory even after mounting it to a drive letter. I tried the `/J` and `/H` options too but obviously that did not work as they only work for links to the same volume. I tried replacing all my forward slashes with back slashes in case that was tripping things up, but no joy.

As far as I can see this will not work while using symb

[2013-11-14 15:27] sneal commented on #133
That's unfortunate, but I appreciate the info on this.

[2013-11-14 16:16] sneal commented on #127
Add `-NoNewWindow` to the end of your command, for example:

[code]

See [Start-Process](http://technet.microsoft.com/en-us/library/hh849848.aspx) for more information.

[2013-11-14 16:16] #127 closed, assigned to sneal

[2013-11-14 16:53] pghalliday commented on #133
You can see my work in progress here:

https://github.com/pghalliday/vagrant-windows/tree/mount-share-with-drive-letter

I can quite easily mount the share with a drive letter using a new `drive_letter` option for `synced_folder`. However I then ran into a problem that mapped drives are not available to scheduled tasks unless you remap them (http://www.tgrmn.com/web/kb/item93.htm).

So just to tes

[2013-11-14 20:50] sneal commented on #131
Fixed in 1.3.0

[2013-11-14 20:50] #131 closed, assigned to sneal

[2013-11-14 20:50] sneal commented on #130
Fixed in 1.3.0

[2013-11-14 20:50] #130 closed, assigned to sneal

[2013-11-14 20:50] sneal commented on #129
Fixed in 1.3.0

[2013-11-14 20:50] #129 closed, assigned to sneal

[2013-11-14 20:50] sneal commented on #128
Fixed in 1.3.0

[2013-11-14 20:50] #128 closed, assigned to sneal

[2013-11-14 20:50] sneal commented on #126
Fixed in 1.3.0

[2013-11-14 20:50] #126 closed, assigned to sneal

[2013-11-14 20:52] sneal commented on #125
Fixed in 1.3.0

A Puppet exit code of 0 or 2 is not acceptable, while any other code will result in a Vagrant error.

This was a bit more difficult to track down because it also required changing the communicator to explicitly return the $LASTEXITCODE because PowerShell was only returning True or False by default.

[2013-11-14 20:52] #125 closed, assigned to sneal

[2013-11-14 20:52] sneal commented on #74
Fixed in 1.3.0

[2013-11-14 20:52] #74 closed, assigned to sneal

[2013-11-14 21:14] johnjelinek commented on #128
What is the commit for this fix?

[2013-11-14 22:13] sneal commented on #128
@johnjelinek The fix was an update to the readme.

[2013-11-15 00:02] patatepartie commented on #128
Thanks for that and for the great plugin, Shawn.

[2013-11-15 08:20] ringods commented on #125
Tnx!!

[2013-11-15 12:25] ringods opened #135 "1.3.0 always times out on me."
Just installed 1.3.0, and since then, every of my Puppet provisioning runs times out:

[code]

Any idea what could be wrong here?

This is a Windows 2008R2 guest, so the WinRM section in the README is not applicable.

[2013-11-15 12:44] ferventcoder commented on #125
I'm interested in the commits that led to this getting fixed.

[2013-11-15 12:45] ferventcoder commented on #125
Nevermind, found it https://github.com/WinRb/vagrant-windows/blob/master/lib/vagrant-windows/communication/winrmcommunicator.rb#L93

Not the commit - but the change at least :)

[2013-11-15 16:00] josepedrocorreia commented on #123
Hi everyone,

I am having a very similar problem which, however, does not go away after fixing `/opt/vagrant/bin/vagrant` as indicated above. Here's what I get after running `vagrant plugin install vagrant-windows`:

[code]

Notice that `libxml2 2.8.0` fails to `configure`, rather than `compile`. I am running VirtualBox 4.2 and Vagrant 1.2.7 on Scientific Linux 6.4.

[2013-11-15 16:07] josepedrocorreia commented on #123
BTW, the log at `~/.vagrant.d/gems/gems/nokogiri-1.6.0/ext/nokogiri/tmp/i686-redhat-linux/ports/libxml2/2.8.0/configure.log` says `error: cannot find sources (entities.c)`

[2013-11-15 16:58] sneal commented on #135
Does it timeout for even the most simple Puppet script? I'm using a very simplistic one for testing (no modules):

Vagrantfile provisioner

[code]

init.pp

[code]

vagrant provision

[code]

[2013-11-19 04:10] kithokit opened #137 "Cannot execute download script after installing the vagrant windows plugins"
/opt/vagrant/embedded/gems/gems/vagrant-1.3.4/plugins/communicators/ssh/communicator.rb:120:in `initialize': No such file or directory - http://localhost.com/myscript.sh
        from /opt/vagrant/embedded/gems/gems/vagrant-1.3.4/plugins/communicators/ssh/communicator.rb:120:in`open'
        from /opt/vagrant/embedded/gems/gems/vagrant-1.3.4/plugins/communicators/ssh/communicator.rb:120:in `block i

[2013-11-20 03:12] sneal commented on #137
Thanks for reporting this, yet another reason monkey patches are evil.

[2013-11-20 03:17] sneal commented on #137
Vagrant added support for remote scripts, the old vagrant-windows monkey patch is missing this new change
https://github.com/mitchellh/vagrant/commit/47594036b4d926c84b25345a8e64528b295b1673#diff-3d7fe3ea7d7abbe66ea2fcfe344c69f6

[2013-11-20 10:02] kithokit commented on #137
Hi, Will you have a fix for this later on?

[2013-11-20 19:56] StevenArmstrong opened #138 "Issue connecting to boxes since upgrading to version 1.3.0"
Hi,

I have upgraded the vagrant-windows plugin from 1.2.3 which was working and booting vsphere windows machines to 1.3.0 and now I cannot connect to my windows guest after it boots with the following error:
ERROR warden : error occurred: undefined method `driver' for vSphere

The full stack trace is below:

vagrant up QA1_db --provider=vsphere
   INFO global: Vagrant version: 1.3.5
  DEBUG globa

[2013-11-21 02:20] sneal commented on #138
Are you using vagrant-windows alongside vagrant-vsphere, meaning are you up'ing new Windows guests in vsphere? If so I'll have to try this out.

Starting in vagrant-windows 1.3.0 the `read_forwarded_ports` method caught NoMethodErrors and instead tried to detect whether the provider was VMware. Reverting to the rescue behavior is a simple enough fix, but what surprises me is that the vsphere provi

[2013-11-21 02:23] sneal commented on #137
I'll modify the monkey patch to fix this for now in 1.3.1. Should be out in a couple days.

I'm not sure it'll support downloadable scripts for Windows, but it'll at least avoid breaking non-Windows guests who use them.

[2013-11-21 02:35] kithokit commented on #137
That's great. Many thanks!

[2013-11-21 07:32] StevenArmstrong commented on #138
Yes I am using vagrant-windows alongside vagrant-vsphere to up new Windows guests in vsphere which was working well. It seems a bit weird that if it is a standard vmware call to driver dot product that vsphere didn't seem to recognise it .Maybe the vsphere plug-in needs a library updated or something. Again thanks for the prompt response and help :)

[2013-11-21 10:44] lewisthompson commented on #18
I'm still seeing issues with the sql_server cookbook with vagrant-windows 1.3.0.  The path is \var\chef\cache\ConfigurationFile.ini.  However I am using "config.vm.provision "chef_client"" not solo, so perhaps that is my issue.

[2013-11-21 18:01] johnjelinek opened #139 "Vagrant Windows 1.3.0 Hangs on Vagrant Up"
I'm using this template https://github.com/jedi4ever/veewee/tree/master/templates/windows-2008R2-serverstandard-amd64 to build a base box (it uses cygwin+ssh). When I vagrant up this box, it hangs here:

[code]

Here's my Vagrantfile:

[code]

Am I missing something?

[2013-11-21 20:44] johnjelinek commented on #139
lol, I was missing port forwarding for winrm. :facepalm:

[2013-11-21 20:44] #139 closed, assigned to nobody

[2013-11-22 01:26] sneal commented on #139
On the other hand it would be nice if the WinRM port was auto forwarded like the SSH port - even better if the plugin would find a free port if the default port was already in use.

[2013-11-22 01:50] ferventcoder commented on #139
+10000 to finding a free port and autoforwarding!!!!

On Thursday, November 21, 2013, Shawn Neal wrote:

##

---

Rob
"Be passionate in all you do"

http://devlicio.us/blogs/rob_reynolds
http://ferventcoder.com
http://twitter.com/ferventcoder

[2013-11-22 15:06] steenhulthin opened #140 "`vagrant plugin install vagrant-windows` fails"
I put this issue on [stackoverflow](http://stackoverflow.com/questions/20146758/vagrant-plugin-install-vagrant-windows-fails). Should have put it here first. sry.

---

I'm trying to install the vagrant-windows plugin on a windows 7 (64 bit) machine, but I get the error below. How can I fix this?

further info:
- ruby version installed on machine 1.9.3
- in corporate environment (port 80, 443, 338

[2013-11-23 04:05] dawilliams opened #142 "The chef powershell_script resource fails on vagrant virtual box windows 2012 machine"
Hello,

I've got a simple powershell_script resource that runs fine outside of a vagrant controled virtual box machine running Windows Server 2012.  However on vagrant machine it fails with "STDERR: Thread failed to start." error.  Below is the powershell script

powershell_script "Install Microsoft KB2828842" do
  code <<-EOH
  dism /Online /add-package /PackagePath:"#{Chef::Config[:file_cache_pa

[2013-11-24 05:34] dawilliams commented on #142
I don't this is just a vagrant issue though it happens on Vagrant all the time while only occasionally on other machines.

[2013-11-24 15:50] sneal commented on #142
This doesn't sound like a plugin issue, I'm going to close this.

[2013-11-24 15:50] #142 closed, assigned to nobody

[2013-11-24 16:22] sneal commented on #140
It almost seems like a corrupted download. Are you able to install other plugins? You may want to try another host or reinstall Vagrant.

[2013-11-24 17:26] steenhulthin commented on #140
I did install the vagrant-vbox-snapshot without errors.

I also tried uninstalling and installing vagrant again.

I did not have any problems on my windows 8.1 host machine. This machine is however not in a corporate environment.

[2013-11-24 18:23] steenhulthin commented on #140
Hm, There is something weird going on. It seems to be a machine environment specific problem. I disabled all unused network adaptor and now the the plugin installed.

I'm closing the issue since this is most likely not a general problem.

[2013-11-24 18:23] #140 closed, assigned to nobody

[2013-11-25 14:11] dawilliams commented on #142
Sorry about that.  At first it was just happening in vagrant.  Thanks!

[2013-11-30 09:37] StevenArmstrong opened #143 "Support Cloudstack provider"
Some interesting developments with cloudstack provider from a developer who has asked for help, they seem to have the majority of the code already but have asked for some assistance https://github.com/klarna/vagrant-cloudstack/issues/15#issuecomment-29518423
I thought it was worth highlighting.

[2013-12-02 22:16] sneal commented on #143
Thanks, commented on it.

[2013-12-02 22:16] #143 closed, assigned to nobody

[2013-12-02 22:17] sneal commented on #138
Fixed in 1.3.1

[2013-12-02 22:17] #138 closed, assigned to nobody

[2013-12-02 22:17] sneal commented on #137
Fixed in 1.3.1

[2013-12-02 22:17] #137 closed, assigned to nobody

[2013-12-02 22:18] sneal commented on #135
@ringods Any update on this?

[2013-12-03 17:40] ashmere commented on #88
the current wmic command doesn't rename the pc if it is windows 2012
I notice that from powershell 3.0 onwards you have Rename-Computer cmdlet and netdom is still available could we either get this changed to detect if powershell =>3 use that else stick with the wmic

or just switch to netdom that I believe works on windows 7 up

[2013-12-04 17:57] czablocki commented on #123
I'm having a similar issue with vagrant 1.3.5 64-bit binaries on Ubuntu 12.04

This is also after manually updating /opt/vagrant/bin/vagrant to remove the extra '}' characters

The build fails when trying to compile libxslt2

Not sure if this is a problem with vagrant-windows, vagrant, nokogiri, or what, but it's really frustrating

[2013-12-04 18:40] juliandunn commented on #123
I think you need the libxslt and libxml2 devel RPMs in order to compile.

[2013-12-04 19:11] sneal commented on #123
Eventually I'll document the steps needed to install vagrant-windows on Ubuntu 12.04 - since I need to replace our Mac build agent, but at my current rate Ubuntu 14.04 might be out first. Any help documenting this would be heartily welcomed.

[2013-12-04 22:10] ferventcoder opened #145 "Versions 1.3.1 Now expects the shell provisioner to be a PS1 file?"
Why did this happen and is there a way I can set it back to CMD.exe?

This is the setting in the vagrantfile:

[code]

In version 1.2.3 this works appropriately, but on upgrade to 1.3.1 and it now is trying to treat it like a powershell script.

And now it errors:

[code]
### Update

I tested this on 1.3.0 and it works like it should. So this was a recent change with 1.3.1.

[2013-12-04 22:23] ferventcoder commented on #145
And what went into the latest versions to make the gem 25.6MB (from 170K)?

http://rubygems.org/gems/vagrant-windows/versions for reference....

[2013-12-04 22:35] sneal commented on #145
25MB?! That shouldn't be. The release target must have pulled in some extraneous files from my working directory, like the puppet msi.

[2013-12-04 23:03] ferventcoder commented on #145
@sneal as far as the main issue?

[2013-12-04 23:59] sneal commented on #145
Fixed in 1.3.2

Thanks for reporting this. Basically the shell provisioner stopped respecting file extensions. I took the code from core Vagrant to add support for remote scripts, but it writes everything to a temp file - which in vagrant-windows we just assume is a PowerShell script.

I reverted the inline and non-download script code to 1.3.0 behavior and added support for remote files to correc

[2013-12-04 23:59] #145 closed, assigned to nobody

[2013-12-05 07:41] kithokit opened #147 "Do u have this issue when execute the external script?"

[2013-12-05 07:44] kithokit commented on #147
just a mistake, ignore it

[2013-12-05 07:44] #147 closed, assigned to nobody

[2013-12-05 15:47] ferventcoder opened #148 "WinRM 3.0 (from WMF 4.0) doesn't seem to work"
I saw issue #79 addressed a workaround, but it doesn't appear that things are quite working with WMF 4.0 installed.

I started with 1.2.3 this morning and worked up to 1.3.2 and it's hanging on connection to WinRM:

[code]

It can start and stop the machine, but it won't communicate with it.

This is with a VmWare Fusion 5.0 box.

Now, if I run this guy, everything starts to work. Perhaps this sho

[2013-12-05 15:50] ferventcoder commented on #148
That may have been too quick to state...still seems stuck at `[default] Waiting for the VM to finish booting...`.

`vagrant provision` works without the priorly stated configuration, but since it hung at waiting for the VM to boot, it never mounted the folders necessary for the provisioner to run successfully.

[2013-12-07 01:46] sneal commented on #148
I was hoping to have a chance to try this today, but AFAIK this _should_ work.

[2013-12-07 01:48] sneal opened #149 "Plugin should autocorrect the winrm port if the default 5985 is not available"
Having to manually select a free port on the host wastes time. This should work like core vagrant does WRT to the SSH port.

[2013-12-07 06:08] ferventcoder commented on #149
I thought this issue was already logged last week

[2013-12-07 06:41] sneal commented on #149
Maybe you were thinking of this [comment](https://github.com/klarna/vagrant-cloudstack/issues/15#issuecomment-29663688)?

[2013-12-07 13:50] ferventcoder commented on #149
Unfortunately that wasn't it. I +1'd it. It must have been on another repository but I was thinking it was here. It was just a comment somewhere near the bottom of a different issue. No worries... :)

[2013-12-07 13:51] ferventcoder commented on #149
Found it - https://github.com/WinRb/vagrant-windows/issues/139#issuecomment-29043056

[2013-12-10 16:46] sneal opened #150 "Plugin fails to load with Vagrant 1.4"
Forgot to run bundle exec from within my development directory. Loads fine.

[2013-12-10 16:53] #150 closed, assigned to nobody

[2013-12-10 23:48] johnjelinek opened #151 "Failed to load the vagrant-windows plugin in Vagrant 1.4.0"
I uninstalled and reinstalled vagrant-windows as Vagrant 1.4.0 directed. Now whenever I run a vagrant up or vagrant ssh, I see:

`Failed to load the "vagrant-windows" plugin. View logs for more details.`

I don't know where the logs are stored.

[2013-12-11 00:52] sneal commented on #151
I see this too, so don't worry about the logs yet.

[2013-12-11 09:28] mkubenka commented on #151
Vagrant 1.4 start using new SyncedFolders middleware.

Try this fix (sorry I'm not Ruby developer):
https://github.com/mkubenka/vagrant-windows/commit/4820fdad0078563216dec19041575a497b265eb2

[2013-12-11 16:27] reidmv commented on #150
Just installed Vagrant 1.4 and uninstalled/reinstalled vagrant-windows (1.3.2) plugin. Not using a development environment, just installing. Plugin fails to load for me. I get this output with --debug:

[code]

Not sure what's wrong but it's definitely not plug-n-play for me right now.

[2013-12-11 18:05] xiaoxinyang opened #152 "ERROR: Logon failure: unknown user name or bad password"
I saw this error when I tried to do chef-solo provision.

After some investigation, I find that C:\tmp\vagrant-chef-1\cheftask.ps1 double-quotes the windows password:
$ grep pass  ./lib/vagrant-windows/scripts/cheftask.ps1.erb
schtasks /create /tn "chef-solo" /xml "<%= options[:chef_task_xml] %>" /ru "<%= options[:user] %>" /rp "<%= options[:pass] %>

If the password contains a "$", it will lead t

[2013-12-11 18:15] sneal commented on #150
See issue #151. I closed this prematurely.

[2013-12-12 06:10] sneal commented on #116
This apparently is a feature of Vagrant. It stores state about the box and knows if it has previously been provisioned. Beginning with Vagrant 1.4 it displays the following message:

[code]

[2013-12-12 06:10] #116 closed, assigned to nobody

[2013-12-12 16:39] sneal commented on #152
Fixed in 1.4.0

[2013-12-12 16:39] #152 closed, assigned to nobody

[2013-12-12 16:41] sneal commented on #149
We should be using this in our Vagrantfiles

[code]

The autocorrect piece is already supported in vagrant-windows - I just misunderstood how it worked.

[2013-12-12 16:41] #149 closed, assigned to nobody

[2013-12-12 16:41] sneal commented on #151
Fixed in 1.4.0

[2013-12-12 16:41] #151 closed, assigned to nobody

[2013-12-12 16:42] sneal commented on #135
Closing this since I haven't heard anything back

[2013-12-12 16:42] #135 closed, assigned to nobody

[2013-12-12 16:43] sneal commented on #124
Do you know if core Vagrant detects an SSH port change between up and reload?

[2013-12-12 16:53] ferventcoder commented on #149
Wat?! NICE

[2013-12-12 16:53] ferventcoder commented on #149
I wonder why that isn't the default (`auto_correct: true`)?

[2013-12-12 17:27] ringods commented on #135
Sorry @sneal, I have been away from my Vagrant/Puppet development the last few weeks. When I get back to it, I'll test it again. If it reoccurs, I'll try to gather information for a reproducible test case and reopen this ticket.

[2013-12-12 17:28] sneal commented on #135
Great!

[2013-12-17 10:54] DracoBlue commented on #43
I had the same issue. Updating to 1.5.0 of vagrant-windows, fixed the issue.

[2013-12-17 16:24] ferventcoder commented on #148
Anything further on this?

[2013-12-28 11:35] wscheele opened #158 "puppet provider uses @config.expanded_manifests_path which no longer exists in vagrant 1.4.1"
starting a vagrant box (with vagrant 1.4.1) that uses the vagrant-windows plugin (1.5.0) and the puppet provisioner produces the following error:

[code]

the error is caused by line 97 of:

[code]

which calls the expanded_manifests_path on the vagrant puppet config. this method no longer exists.

i've replaced line 97 with an inlined version of the old implementation as a workaround:

[code]

[2013-12-30 21:03] sneal commented on #158
Thanks for reporting this

[2014-01-02 19:16] lmayorga1980 opened #159 "vagrant plugin install fails with vagrant 1.4.2"
https://gist.github.com/lmayorga1980/8224831

[2014-01-02 19:34] lmayorga1980 commented on #159
Seems like is an error with nokogiri 1.6.1 and OSX

[2014-01-02 20:58] sneal commented on #159
What other plugins do you have installed?

[2014-01-02 21:01] lmayorga1980 commented on #159
0 plugins installed. It seems that I have an issue with nokogiri 1.6.1 and the grep BSD version in OSX Mavericks.

http://stackoverflow.com/questions/20890808/install-nokogiri-1-6-1-under-ruby-2-0-0p353-rvm-based-installation-fails-osx

[2014-01-05 14:20] alexbhr commented on #158
:+1: on fixing that, I hit it too. Would you accept a PR with the above fix?

[2014-01-07 14:51] petems opened #160 "Security issue with .bat file"
I think this has been answered before (from the comment on https://github.com/mitchellh/vagrant/issues/2395) but I can't find the solution.

Basically I'm having an issue with some puppet code when I'm provisioning a Vagrant instance:

[code]

[code]

Any help appreciated :+1:

[2014-01-07 16:30] sneal commented on #160
I'm not really very familiar with the Puppet source code, so I can't really say with any authority what's going on.

My suspicion is that Puppet is trying to read the file permissions of the batch file which lives on the symlinked share that vagrant-windows creates to provide your scripts from your host to the guest. It seems odd it would need to do that, but completely possible.

If you attempt t

[2014-01-07 16:32] sneal commented on #158
@alexbhr Absolutely. If you provide the PR, I'll cut a new gem.

[2014-01-07 16:33] petems commented on #160
Cool, I ended up just changing it to a template and sourcing from that because I needed a quick win, but I'll try the source_permissions trick later! :+1:

[2014-01-07 17:28] alexbhr commented on #158
Would this fix be acceptable, or do you recommend going about this in a different way?

[2014-01-08 11:52] petems opened #162 "Vagrant.has_plugin? command not working"
[code]

[code]

[code]

[2014-01-08 11:53] petems commented on #160
Ok, since this actually a puppet issue not a vagrant-windows issue, I'll close :+1:

[2014-01-08 11:53] #160 closed, assigned to nobody

[2014-01-08 16:54] sneal commented on #162
Indeed, the registered plugin name is not what users would expect. I'll have a fix shortly.

[2014-01-08 16:56] sneal commented on #158
I think I might have a cleaner fix that removes that entire monkey patched method.

[2014-01-08 19:58] sneal commented on #160
source_permissions doesn't help things, although I would think Puppet should skip reading the source permissions if the target isn't going to use them.

[2014-01-08 20:26] sneal commented on #162
Fixed in 1.5.1

[2014-01-08 20:26] #162 closed, assigned to nobody

[2014-01-08 20:27] sneal commented on #159
Seems like an environment issue rather than a vagrant-windows issue.

[2014-01-08 20:27] sneal commented on #158
Fixed in 1.5.1

[2014-01-08 20:27] #158 closed, assigned to nobody

[2014-01-08 20:37] sneal commented on #124
Can you try the latest 1.5.1 gem? I believe this was fixed by #157. The only annoying thing is that it takes a couple of minutes while it times out. Here's the output of my run after changing the loaded VM's winrm port:

[code]

[2014-01-09 17:22] ferventcoder commented on #160
We are looking into this while researching [PUP-1389](https://tickets.puppetlabs.com/browse/PUP-1389)

[2014-01-09 17:36] joshcooper commented on #160
I think the problem here is that puppet's logic for detecting if the source volume [supports NTFS ACLs](https://github.com/puppetlabs/puppet/blob/3.2.4/lib/puppet/util/windows/security.rb#L153) may not take into account that the target of the link may be on a different volume. Also, puppet does not pass the original [exception backtrace](https://github.com/puppetlabs/puppet/blob/3.2.4/lib/puppet/t

[2014-01-09 17:46] ferventcoder commented on #160
I'm seeing something similar with puppet 3.4.2 -

[code]

[2014-01-11 15:15] #159 closed, assigned to nobody

[2014-01-11 15:18] lmayorga1980 opened #165 "vagrant vm.network private_network setting does not work"
Hi,

I tried to use the **vm.network :private_network, ip:xx.xx.xx.xx** setting on my vagrant file but it doesn't seem to work even when using `vagrant reload`.

vagrant-windows: 1.5.0
vagrant: 1.4.2
virtualbox: 4.3.6

I don't think there is a way to set the specific ip address unless i am missing something.

[2014-01-11 15:38] ferventcoder commented on #165
I'm not sure vagrant reload works with vagrant-windows (but I'm not the authority).

[2014-01-11 16:09] lmayorga1980 commented on #165
Did you try setting a static ip address using this setting?  I guess i can call the provisioner and call an inline or batch script

Sent from my iPhone

[2014-01-12 05:40] benjamine commented on #86
This would be very helpful.
In the meantime, in case anyone finds it useful, I wrote this little ruby script to run a simple command on the windows guest using the winrm gem https://gist.github.com/benjamine/8381365

[2014-01-14 21:22] lmayorga1980 commented on #165
I just had to restart the guest. This works fine

[2014-01-14 21:22] #165 closed, assigned to nobody

[2014-01-14 21:24] lmayorga1980 opened #166 "provision inline shell execution doesn't run elevated"
Hi,

I have my Vagrantfile like this... and i am trying to execute puppet enterprise within the windows box.

[code]

My guess is that it might not be running with elevated permissions.

[code]

When running from the windows puppet enterprise console it works just fine.

[2014-01-14 23:08] sneal commented on #166
What's in this file? C:\Temp\NETFramework4Log.htm

[2014-01-15 01:04] lmayorga1980 commented on #166
**From the vagrant output...**

[code]

**From the NETFramework4Log.htm**

[code]

[2014-01-15 01:28] lmayorga1980 commented on #166
wondering if there is a registry entry to run everything with elevated privileges.

btw i am using the packer-windows https://github.com/joefitzgerald/packer-windows.

[2014-01-15 01:47] joefitzgerald commented on #166
@lmayorga1980 In Autounattend.xml, we explicitly disable UAC: https://github.com/joefitzgerald/packer-windows/blob/master/answer_files/2012_r2/Autounattend.xml#L285 / http://technet.microsoft.com/en-us/library/ff715520.aspx

[2014-01-15 01:57] sneal commented on #166
I'd set the [MaxMemoryPerShellMB](https://github.com/joefitzgerald/packer-windows/blob/master/answer_files/2012_r2/Autounattend.xml#L139) to 0, or unlimited.

There's also an [issue](http://support.microsoft.com/kb/2842230) with that setting being ignored.

[2014-01-15 19:10] lmayorga1980 commented on #166
@joefitzgerald I have that setting in the Autounattend.xml. But this doesn't me that ....

`vm.provision :shell, :path => "<this will run elevated?>"`

I know that the Chocolatey guys figure out how to execute their powershell scripts with elevated permissions but not sure how to add that code on the vagrant-windows plugin.

[2014-01-15 19:19] joefitzgerald commented on #166
Are you certain that elevation is the issue here? I think you might want to to run this with more detailed logging and get the actual install failure error from there.

[2014-01-15 19:28] lmayorga1980 commented on #166
Correct me if i am wrong here but when i execute this command `puppet agent -t --server puppetmaster` from the Vagrantfile it fails but when I do it inside the VM it just works.

Check this gist with _Access Denied_ at the end...

https://gist.github.com/lmayorga1980/8442734

[2014-01-15 19:43] joefitzgerald commented on #166
Have you tried `runas /user:Administrator "<your command here>"` or `runas /user:vagrant "<your command here>"`?

It is possible this will prompt you for credentials (in which case this is not a solution), but I'm not sure of the behavior if you run that while logged in as the same user you specify as an argument to `runas`.

[2014-01-15 19:50] joefitzgerald commented on #166
This also looks promising: http://support.microsoft.com/kb/951016

[2014-01-15 19:52] lmayorga1980 commented on #166
I can try that option but I took Puppet Enterprise out of the way in order to check for other suspicious behavior. In this case i am just calling `WebPICmd.exe` directly from the **:inline** value.

[code]

[code]

[2014-01-15 19:55] lmayorga1980 commented on #166
@joefitzgerald Interesting article. Guess you might want to add that registry entry on the Autounattend.xml file :+1:

[2014-01-15 19:57] joefitzgerald commented on #166
Can you try modifying that registry entry manually and rebooting your box to see if it fixes the issue for you?

[2014-01-15 20:03] lmayorga1980 commented on #166
The article does not mention **Windows 2008 R2 SP1** and that registry entry was already on the generated VM.

[2014-01-15 20:12] lmayorga1980 commented on #166
http://support.microsoft.com/kb/2526083

[2014-01-15 20:19] ferventcoder commented on #166
WebPICmd is not the best method of trying to install .net framework 4. It fails sometimes for no apparent reason. This is how I do it https://github.com/ferventcoder/vagrant-windows-puppet/blob/master/boxes/shared/shell/InstallNet4.ps1

[2014-01-15 20:21] ferventcoder commented on #166
Just wait until you get to UAC and Windows 8/2012 (with only the registry setting to actually turn it off). Thus `choco install disableuac`

More on UAC turning off - the control panel on Win 8 no longer allows you to completely turn off UAC (even though it looks like it when you slide the slider all the way down). The reason is the Metro stuff. Once UAC is off completely, the Metro (or whatever i

[2014-01-15 20:54] lmayorga1980 commented on #166
Interesting finding about **WebPICmd**. I did actually use your script and the installation worked just fine but just to let you know that I have a **netfx40** puppet manifest that uses the webpicmd command line but the Puppet Enterprise Windows Service runs under the **SYSTEM** account and everything is fine for this framework version.

Wondering what will happen if I use **WebPICmd** for Framewo

[2014-01-15 21:00] sneal commented on #166
Running installers over WinRM (or even SSH) is tenuous at best. This is why the vagrant-windows chef-solo provisioner doesn't work like the other provisioners. Instead of directly executing chef, it schedules a task with 'elevated privileges' enabled.

Not all administrator accounts are created equal in Windows even with UAC off.

[2014-01-15 21:08] lmayorga1980 commented on #166
Well,

I wonder if it could be possible to take a look at the provisioning logging information while is executing that scheduled task. At this point I guess i will just configure the **NET Framework Packages** when building the Windows VM (packer-windows AutoUnattended.xml).

BTW... It didn't work with .netfx451 (Lost my faith in **WebPICmd.exe** again)

[code]

[2014-01-16 03:13] ferventcoder commented on #166
WebPICmd.exe can be retarded sometimes...

[2014-01-16 21:34] lmayorga1980 commented on #166
Amazing news! Now I trust the Chocolatey guys more than those who created WebPICmd.exe. Guess I will need to remove my dependencies on WebPICMD asap.

[2014-01-16 22:24] ferventcoder commented on #166
We use webpi as a package source, which uses webpicmd.exe.

Not sure what we did to gain your trust more but :+1:

[2014-01-17 16:59] alexbhr opened #167 "Provisioning an already-running Windows 7 box fails"
Hey there,

I have a win7 64bit box, which I provision via Puppet. When I start it the first time around the box seems to provision fine. However, if I do a `vagrant provision` on it, it fails with the following error:

[code]

In debug mode, the following gets printed:

[code]

Looks like after 1.5.1's monkey patch removal in the puppet provisioner has don goof'd and the correct paths are not bei

[2014-01-17 17:36] lmayorga1980 commented on #166
No so sure how other people have solved this issue but for now i just call a scheduled task.

Now it seems that Windows think that the execution of Puppet was a **SUCCESS** but it didn't finish to complete the tasks and it fact returned the message below in less than a second. "Nice!"

`SUCCESS: Attempted to run the scheduled task "ExecutePE".`

For now just need to tell my devs: execute `vagrant

[2014-01-22 16:54] fschwiet opened #168 "newb question, what is vagrant-windows?"
Could a note be added to readme.md to explain what vagrant-windows is for?

  I'm new to Vagrant, and trying to set up a base box for Windows.  It looks like vagrant-windows is something I would use for that, or maybe not.  I don't know.

[2014-01-25 01:50] Iristyle commented on #160
After doing some detective work, I just sent in the PR for the Puppet patch as https://github.com/puppetlabs/puppet/pull/2299

[2014-01-27 16:35] sneal commented on #168
Made the plugin description... more descriptive.

[2014-01-27 16:35] #168 closed, assigned to nobody

[2014-01-27 16:45] sneal commented on #167
Did you try reloading the VM? I can't reproduce the problem you're seeing.

[code]

[2014-01-27 16:49] sneal commented on #166
@lmayorga1980 I'm going to close this issue. This seems to be unrelated to vagrant-windows.

[2014-01-27 16:50] #124 closed, assigned to nobody

[2014-01-30 13:52] alexbhr commented on #167
Funnily enough, I cannot reproduce as well. I am running VMWare Fusion + licensed plugin for vagrant for my Windows VM. I am closing this for the time being...

[2014-01-30 13:52] #167 closed, assigned to nobody

[2014-02-03 15:08] dabide commented on #132
Network connections that are added through Vagrantfile are also automatically set to Public in Windows 7. A solution is described in pull request #170.

[2014-02-04 09:23] ghost opened #171 "Having issues with port forwarding using windows. vagrant seems to map 3389 (RDP) regardless of configuration."
Hi,

I am having issues with port forward collisions. It seems to map 3389 first regardless of what I specify in the configuration. Although it does do the mapping last , but the first port causes a collision with local running RDP service. I am also trying to get a multi machine environment setup.

Host: windows 8
Guest: windows 2012 (not r2)
Vagrant: 1.4.3
vagrant-windows: 1.5.1

<config>

Vagra

[2014-02-04 14:17] sneal commented on #171
I only see one forwarded port in your configuration. You must have another Vagrantfile in a parent directory or have modified the default Vagrantfile in the Vagrant installer or something. Vagrant doesn't forward any ports itself outside SSH (22 -> 2222).

See the Vagrant docs under [Vagrantfile](http://docs.vagrantup.com/v2/vagrantfile/index.html) for more info

[2014-02-06 11:02] ghost commented on #171
Thanks for this, it seems there was port forwarding configured in the Vagrantfile in the .box
Appreciate the pointer.

[2014-02-06 11:02] #171 closed, assigned to nobody

[2014-02-07 14:31] oknoproblem opened #172 "provisioner.rb:76:in `unlink': No such file or directory"
When i'm trying to start shell provisioner i'm geting such error all the time:

[default] Running provisioner: shell...
C:/Users/user/.vagrant.d/gems/gems/vagrant-windows-1.5.1/lib/vagrant-windows/m
onkey_patches/plugins/provisioners/shell/provisioner.rb:76:in `unlink': No such
file or directory - C:/Users/user/.vagrant.d/tmp/5b747331-ced7-455a-bc5b-a6f78
a370123-remote-script.bat (Errno::ENOENT)

[2014-02-07 18:20] ferventcoder commented on #171
Seems like someone is in trouble for making assumptions on the part of their vagrant box users. The box itself should have a very lean vagrantfile with nothing more than the mac address - https://github.com/ferventcoder/vagrant-windows-puppet/blob/master/baseboxes/win2008r2-x64-vbox4216-nocm/Vagrantfile#L5

[2014-02-12 14:59] oknoproblem commented on #172
found why.

my Vagrant version is 1.2.7 and your plugin version is 1.5.1...
you guyts should do something to dont let "vagrant plugin install vagrant-window" command on old vagrant version to install latest pluging.

[2014-02-12 20:17] sneal commented on #172
Are you using a downloaded shell script? I don't think older versions of Vagrant support that.

vagrant-windows versions don't align with Vagrant versions, they're independent. Vagrant-windows 1.5.1 _should_ work on all versions of Vagrant all the way back to 1.1.

[2014-02-13 05:10] oknoproblem commented on #172
my vagrant file is:
    config.windows.halt_timeout = 15
    config.winrm.username = "vagrant"
    config.winrm.password = "vagrant"
    config.vm.guest = :windows
    config.vm.network :forwarded_port, guest: 5985, host: 5685
    config.vm.network :forwarded_port, guest: 5986, host: 5686
    config.vm.network :forwarded_port, guest: 8080, host: 5687
    config.vm.network :forwarded_port, guest: 1

[2014-02-13 05:13] oknoproblem commented on #172
main reason (i'm think so) is that Vagrant version 1.2.7 does not understand this construction:
Vagrant::Util::Downloader.new(config.path, download_path).download!

[2014-02-17 06:37] oknoproblem opened #173 "Issue with hanging vagrant up on win7 while configuring network adapter"
Vagrant version: 1.4.0
vagrant-windows version: 1.5.1

Vagrant file:
VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    config.vm.box = "win7.x86.v.004"
    config.vm.box_url = "http://10.1.138.103/win7.x86.v.004.box"
    config.vm.boot_timeout = 300
    config.vm.provider :virtualbox do |vb|
        vb.gui = true
    end
    config.windows.halt_timeout = 15

[2014-02-17 14:28] oknoproblem commented on #173
may be i'm asking in wrong place? may be i can get answer faster in other place?

[2014-02-18 05:16] oknoproblem commented on #173
found solution, in my VagrantFile there wrong
config.winrm.host = "192.168.33.33"
this shoult be host IP address, but i used guest IP, thats why while executing netsh command "vagrant up" silently hungs.
Reason is that netsh command resets network interface and vagrant can not get result of netsh comand.

[2014-02-24 16:55] ianrossi commented on #18
I can confirm that I am also seeing this issue with the sql_server cookbook on vagrant-windows 1.5.1. @sneal It looks like you reopened this. Do you know of an interim fix?

[2014-02-24 23:58] sneal commented on #18
Try adding a Windows style file_cache_path to your Chef config

[code]

[2014-02-25 16:52] ianrossi commented on #18
@sneal Thanks! I was scouring the Vagrant docs for that setting, but I should have gone with my gut and tried it. :) Thanks again.

[2014-02-28 18:02] ramarnat opened #174 "Use Schedule.Service to run Chef Task"
@sneal

I wrote a recipe called wintask about a year ago for the same reason vagrant-windows creates a scheduled task - timeouts etc. for use with my windows recipes that I was running using knife winrm. But I used the Windows api wrapper in ruby. I am wondering if there would be any benefit to integrating that here, so the calls to create the task are native/api driven rather than via shell.

It

[2014-02-28 20:02] sneal commented on #174
Do you know if that works from PowerShell in Windows Server 2008, I thought it required newer OS versions.

I've also started rewriting the way vagrant-windows handles scheduling the task, using the COM object instead of shelling out. https://github.com/WinRb/vagrant-windows/blob/run-all-provisioners-elevated/lib/vagrant-windows/scripts/elevated_shell.ps1.erb

[2014-02-28 20:20] ramarnat commented on #174
It should, I am using com and Schedule.Service as well, but using the Windows ruby library. I uploaded the recipe to github for you to peruse.

https://github.com/ramarnat/wintask

[2014-02-28 20:44] ramarnat commented on #174
I was somewhat of a noob with ruby when I wrote the recipe, some of the dependencies with nokogiri can probably be removed and use erb instead.

[2014-03-02 20:31] lmayorga1980 opened #175 "[1.5.1] Unknown configuration section 'windows'"
I recently upgraded the new vagrant-wmware-fusion to 2.3.2 and suddenly get the following errors with the vagrant-windows plugins 1.5.1

https://gist.github.com/lmayorga1980/9313303

[code]

[2014-03-02 20:34] lmayorga1980 commented on #175
Not sure if this can be my mistake here. I was installing vagrant-windows in one terminal while in the other i was upgrading vagrant-vmware-fusion plugin.

Correct me if i am wrong here but it seems that `vagrant plugin install vagrant-windows` starts compiling the plugin from source and it seems has a dependency on the vagrant-vmware-fusion plugin? If that is the case, then i would try to just re

[2014-03-02 20:45] lmayorga1980 commented on #175
Of course that was the problem

[2014-03-02 20:45] #175 closed, assigned to nobody

[2014-03-04 22:53] ianrossi commented on #35
@sneal @pmorton Is there anything I can do to move this forward? It's blocking me on testing with vagrant. Thanks.

[2014-03-05 12:06] artemyarulin commented on #35
Hi guys,

I'm also quite interesting to resolve this issue, if you don't have a time to resolve it - can you at least describe how it should be handled? Maybe I could help then as well as @ianrossi

[2014-03-05 15:23] sneal commented on #35
We need the WinRM2.0 gem that @pmorton has sitting in a branch to move this forward.

[2014-03-05 16:58] ianrossi commented on #35
@sneal  @pmorton @NicCOConnor @artemyarulin For me, the user account was not the issue. When I ran `vagrant provision` with `VAGRANT_LOG=info`, it appeared that the vagrant run was hanging on the user login. However, I discovered that after the domain join, network sharing settings were changed. I had to browse "Network" on the Windows Server machine and turn on networking and then browse to the `

[2014-03-05 19:44] StevenArmstrong commented on #35
We normally take a VM template, invoke a sysprep as part of the vagrant set-up to do the domain join and any other commands such as setting a new SID which is important for windows boxes. The sys prep will set a default network sharing setting but this could be set to obtain automatically if desired. Once the sysprep process is completed vagrant will put the box on the correct network sharing sett

[2014-03-05 19:46] ianrossi commented on #35
@StevenArmstrong Thanks very much for sharing that! I'll work that into my workflow as well.

[2014-03-05 20:18] StevenArmstrong commented on #35
No worries happy to help :) I would recommend using the vsphere provider if you can as it makes this workflow very easy with the vagrant-vsphere plugin providing sysprep via the customisation spec input. I also have it working with cloudstack but I had to script the sysprep bits myself so it is still possible without.

[2014-03-05 20:19] ianrossi commented on #35
@StevenArmstrong Wow, just keeps getting better. Thanks again. I'm just using the Virtualbox provider right now for local VMs, but I'll check out getting it setup with our vSphere implementation.

[2014-03-05 23:01] simoneb opened #176 "Access Denied trying to change winrm configuration during provisioning"
Hi, after quite some time spent researching why I could not get to install .NET 4.5 as part of the provisioning, though it worked perfectly if I did the same directly on the guest, I figure out it requires increasing the available memory for winrm using the `MaxMemoryPerShellMB` setting. Now, when trying to do that I always get an error similar to this:

[code]

Here's the command I'm trying to ru

[2014-03-06 00:53] sneal commented on #176
The shell provisioner doesn't have true admin access on the box. The chef provisioner works around this by running Chef through a scheduled task that has 'run with highest privileges'.

I've been working on a vagrant-windows branch that runs all provisioners through an elevated shell, so commands that you run locally will run the same through vagrant-windows.

[2014-03-06 00:58] simoneb commented on #176
Using a scheduled task is the workaround I'm investigating in fact. Also, if the installation is done via a scheduled task I would not even need to increase the winrm setting in the first place, but it's not the ideal way to provision the machine. I would rather use puppet, but for the time being that doesn't seem to be an option.
Any other idea about how to workaround this problem? All options I

[2014-03-06 01:50] sneal commented on #176
You could workaround it using a PowerShell script based off [this one](https://github.com/WinRb/vagrant-windows/blob/run-all-provisioners-elevated/lib/vagrant-windows/scripts/elevated_shell.ps1.erb). It handles creating the scheduled task, running it, and reporting back output.

If it were me I'd use vagrant-windows and vagrant-berkshelf with the [dotnetframework](https://github.com/daptiv/dotnetf

[2014-03-06 03:29] simoneb commented on #176
That's neat, but I guess I'll stick with the simpler scheduled task
approach for now.

Thanks

On Thu, Mar 6, 2014 at 2:50 AM, Shawn Neal notifications@github.com wrote:

[2014-03-10 05:58] sneal commented on #174
Thanks for sharing, what you did is pretty neat - especially useful for bootstrapping new Windows nodes via knife.

I plan on focusing my attention on Vagrant core, so I will probably not make any significant changes to this plugin if I can avoid it.

[2014-03-10 05:58] #174 closed, assigned to nobody

[2014-03-10 05:59] #176 closed, assigned to nobody

[2014-03-10 06:00] #173 closed, assigned to nobody

[2014-03-10 18:43] ramarnat commented on #174
no worries.

[2014-03-11 11:55] petems opened #177 "Vagrant 1.5 warnings"
[code]

[code]

[2014-03-21 19:16] svpernova09 commented on #177
`WARNING: Nokogiri was built against LibXML version 2.8.0, but has dynamically loaded 2.9.1`

Vagrant 1.5 & 1.5.1

[2014-03-21 20:02] dmjio commented on #177
+1 I get this too. Vagrant 1.5.1, OSX 10.9.2

[code]

[2014-03-24 23:07] nickchappell commented on #177
I'm getting the same warnings as @dmjio, same Vagrant and OS X version.

[2014-03-26 17:16] moserke opened #179 "Rename should force reboot"
Renaming the host should force a reboot to make the rename take effect.  This is extra important if you are domain joining your vagrant box.

We solved this in vagrant-windows 0.1.2 by doing the following in our vagrant files to monkey patch things:

[code]

However things seem to be late loaded in the new plugin world and can't seem to find a hook in the Vagrantfile when the VagrantWindows::Guest

[2014-03-26 17:56] moserke commented on #179
Shell provisioner didn't work for us on the 0.1.2 vagrant-windows hence the monkey patch.  However, for the new version shell seems to be working again, so solved this by adding a new shell provisioner before chef like such:

[code]

[2014-03-26 17:56] #179 closed, assigned to nobody

[2014-03-26 20:57] sneal commented on #179
I think you're solution with the shell provisioner probably makes the most sense, at least for now. It would be nice if the plugin handled the renaming all the way through with a reboot, but I'm hesitant to force it where the user has no control over it.

[2014-03-26 21:00] moserke commented on #179
Yeah, I should have tried that first.  vagrant-windows 0.1.2 shell provisioner didn't work with windows 2012 so had to go down the monkey patch path.  Had forgotten to try the shell provisioner again.

For most folks (not domain joining) just renaming the box and not rebooting probably works just fine.  Managing the rename through a whole reboot sounds like the best approach, but don't know if tha

[2014-03-27 21:32] andrewdeandrade commented on #177
I'm not a ruby guy but trying my best to investigate this further and near as I can tell, this is a WinRM issue, which is a gem that vagrant-windows relies on. Looking more closely, the version of savon used by winrm is way way way out of date. (0.9.5 vs 2.3.3). I'm guessing that either savon or its old dependency wasabi which load nokogiri are responsible in some way. Problem is that I can't get

[2014-03-30 15:03] jgeorge300 commented on #177
The solution for this SO question (http://stackoverflow.com/questions/13884588/chef-knife-gives-gssapi-c-library-warning) hides the first 2 warning messages.

[2014-03-30 16:13] lmayorga1980 opened #180 "[vagrant 1.5.1] Using rsync with vagrant-windows fails"
Are you planning to support rsync on the windows guest. It seems like by default you need a cygwin environment on the windows guest in order for vagrant rsync to work but haven't figure this out yet.

vagrant-windows: vagrant-windows (1.6.0)

[code]

[2014-03-30 18:35] dmjio commented on #177
commenting out the warnings hardly seems like a solution

[2014-03-30 18:35] dmjio commented on #177
But it's that annoying I guess I'll do it

[2014-03-30 19:42] andrewdeandrade commented on #177
Huh? Commenting out the first two warnings still doesn't solve the breaking problem involving nokogiri. For whatever reason I can't find anyway to either (1) make the vagrant-windows or winrm gems to load libxml2 2.8.0 that nokogiri 1.6.1 now is statically built with or (2) install vagrant-windows in a way that overrides the version that nokogiri is statically linked to so that it uses libxml2 2.9

[2014-03-31 06:21] dmjio commented on #177
@malandrew, same w/ me it didn't work

[2014-04-03 12:44] jen20 commented on #177
+1, I'm also seeing this.

[code]

[2014-04-05 01:45] cmluciano commented on #177
This also seems to happen in vagrant 1.5.2

[code]

[2014-04-05 03:47] sneal commented on #177
This is addressed in Vagrant core https://github.com/mitchellh/vagrant/pull/3393. No more annoying, but harmless warnings.

[2014-04-05 03:47] #177 closed, assigned to nobody

[2014-04-05 04:44] andrewdeandrade commented on #177
@sneal the GSSAPI warnings are harmless but the libxml2 warning for nokogiri is not. AFAICT it's related to the savon gem in the winrm gem which IIRC is being deprecated in the next major version of the WinRM gem, but it doesn't look like there is much development activity in that gem.

[2014-04-05 04:46] andrewdeandrade commented on #177
@sneal looking at the vagrant fix, is the immediate loading of the GSSAPI stuff responsible for loading the wrong version of libxml?

[2014-04-08 15:04] sneal commented on #148
I can reproduce this on Win2k8R2SP1 using VBox. I haven't had time to dig into this beyond that.

[2014-04-08 15:14] cdenneen opened #181 "Install .NET framework via powershell through shell provider not working"
Vagrant 1.5.2
Vagrant-Windows 1.6.0
Virtualbox 4.3.10

I've published my configuration and steps used to build basebox:

https://github.com/cdenneen/vagrant-windows-build/

Does anyone know if there is a debug for shell provision or for winrm that would help debug?

setup_requirements.cmd runs but .NET doesn't install properly but if I run the same cmd via GUI it works just fine.

I believe I've f

[2014-04-08 15:25] sneal commented on #181
You need to use a scheduled task to elevate to true admin privileges. The Chef provisioners in vagrant-windows do this automatically for you, the others do not.

[2014-04-08 15:25] #181 closed, assigned to nobody

[2014-04-08 15:30] cdenneen commented on #181
@sneal I've gone over this with @ferventcoder and it actually appears to work on some baseboxes but not others... (same exact powershell script and Vagrantfile) so it appears to possibly be more of locking down the exact steps for configuring a winrm basebox properly. @ferventcoder's basebox includes ssh so the thought is maybe the script is working on his because its using ssh vs winrm? Trying to

[2014-04-08 16:23] sneal commented on #181
Using SSH is going to behave completely differently than WinRM - security, environment, and limitations. For non-trivial software installs SSH is even more problematic than WinRM.

If you want installers to behave like they do when running locally on the box the most reliable and consistent way is to use a scheduled task - regardless of transport.

[2014-04-08 18:11] cdenneen commented on #181
ok but since it works on some base boxes and doesn't on others there has to
be a difference being met in the vagrant-windows requirements that's
unclear. anyone able to pull down that repo and help me understand the
underlying issue with the basebox? (base_setup.ps1 as you see handles all
the requirements so there must be something missing)

[2014-04-08 19:58] sneal commented on #181
I use Packer to build my base boxes. The [Autounattend.xml here](https://github.com/joefitzgerald/packer-windows/blob/master/answer_files/2008_r2_core/Autounattend.xml) does something very similar to what your base_setup.ps1 script does.

I haven't seen a consistent way to install all Windows software over SSH or WinRM without the scheduled task trickery. If you figure out a better way that would

[2014-04-09 06:47] toruuetani opened #182 "Configurating network adapter failed when NON-ASCII adapter name used."
- Vagrant: 1.5.1
- Vagrant-Windows: 1.6.0
- Host: Windows 8.1 Pro(x64)
- Guest: Windows 7 SP1 Pro(x86 | x64)

When I execute `vagrant up`, configurating network adapter failed.
In my guest, adapter name are `ローカル エリア接続`, `ローカル エリア接続 2`, `ローカル エリア接続 3`. (NOTE: this is Japanese)
My `vagrantfile` is below.

[code]

At first, `vagrant up` failed by error. Error log is below.

[code]

This error is rai

[2014-04-09 13:28] ferventcoder commented on #181
I also shut off UAC. Perhaps that's the difference?

[2014-04-09 13:31] ferventcoder commented on #181
It appears you are installing .net framework 4.0. The next version of choco will install it automatically. It should be out soon. Be aware that it will assert privileges if UAC is turned on. So it's likely to fail in an automated fashion unless you have UAC turned off.

**_sigh**_ - UAC was built to be secure but there is no sudo, so it's somewhat useless for those who would script installation.

[2014-04-09 13:32] cdenneen commented on #181
@ferventcoder the base_setup.ps1 disables UAC along with complex passwords and a bunch of other things https://github.com/cdenneen/vagrant-windows-build/blob/master/base_setup.ps1

[2014-04-09 13:32] ferventcoder commented on #181
Dumb question from me, is there a reboot after UAC is disabled?

[2014-04-09 13:33] cdenneen commented on #181
bottom of the ps1 it restarts the computer... then i create basebox...

[2014-04-09 13:34] ferventcoder commented on #181
@cdenneen I just starred that. I need some of those items to packerize my boxes :)

[2014-04-09 13:36] cdenneen commented on #181
@ferventcoder well maybe looking at that you can see something I missed to make my basebox like yours (that works with .NET ps1 install?)... I do a base install of windows, run that script (actually going to modify that to do the administrator -> vagrant user rename and password) and create box.

[2014-04-09 13:36] ferventcoder commented on #181
I don't yet see what could cause it unfortunately.

[2014-04-09 15:59] sneal commented on #182
When you run the ASCII-8BIT encoded command directly on the guest does it succeed? i.e.

`netsh interface ip set address \"\xE3\x83\xAD\xE3\x83\xBC\xE3\x82\xAB\xE3\x83\xAB \xE3\x82\xA8\xE3\x83\xAA\xE3\x82\xA2\xE6\x8E\xA5\xE7\xB6\x9A 2\" static 192.168.56.101`

[2014-04-10 02:39] toruuetani commented on #182
Thanks for your reply.

I tried below command on the guest. The ASCII-8BIT encoded command does not succeed.
So I think that powershell needs "UTF-16LE" encoded command.

[code]

[2014-04-15 15:48] sneal commented on #182
Could you send a pull request for this?

[2014-04-16 16:06] toruuetani commented on #182
I tried to fix this issue before reporting, but i could not fix it.
I think I need to modify "WinRM.WinRMService.run_powershell_script".

I modified code like below.

[code]

but VM was shutdowned.

[code]

I will try to modify a little more.

[2014-04-17 17:34] dlai0001 commented on #86
:+1:

[2014-04-18 02:42] sneal commented on #180
I could see this potentially being useful, but I have no plans to add this. Perhaps this is something that will eventually be added to Vagrant core.

[2014-04-18 02:42] #180 closed, assigned to nobody

[2014-04-18 02:44] sneal commented on #172
Closing since I don't think many people are going to run across this.

[2014-04-18 02:44] #172 closed, assigned to nobody

[2014-04-18 02:45] sneal commented on #133
This sucks, but perhaps we'll have more options in the future with newer versions of Vagrant.

[2014-04-18 02:45] #133 closed, assigned to nobody

[2014-04-18 02:48] sneal commented on #166
PR #189 should allow .NET installations to complete successfully now without any additional work on your part (will be in vagrant-windows 1.7 and Vagrant core).

[2014-04-18 02:48] #166 closed, assigned to nobody

[2014-04-18 02:57] sneal commented on #73
I don't have a puppet server, so I'm not going to be able to fix this. PR would be welcomed.

[2014-04-18 02:57] #73 closed, assigned to nobody

[2014-04-21 17:19] chiriaev commented on #133
Guys, Hi. I found a solution a few months ago. It's working all right. Please see https://github.com/klarna/vagrant-cloudstack/issues/15. For RSYNC I used https://www.itefix.no/i2/cwrsync. I guess that also applies to https://github.com/WinRb/vagrant-windows/issues/180

Regards, Andrei

[2014-04-25 14:54] andrewrlee opened #193 "Vagrant-login 0.9.0 not found"
Hi,

I had an issue with the vagrant-login module not being found when I tried to install the vagrant-windows module.

I managed to get round this by installing the latest version of vagrant-login  (version 1.0.1) first.

[code]

[2014-04-25 16:02] sneal commented on #193
Before attempting to install vagrant-windows the first time, did you have vagrant-login 0.9.0 installed or 1.0.1?

[2014-04-26 10:21] andrewrlee commented on #193
I was not aware of having either of them.

I didn't manually install them - this error message first I've heard of the vagrant-login module.

The only other modules I have manually installed are vagrant-vbguest and vagrant-cachier.

[2014-04-30 15:57] afiune opened #194 "Stuck on Waiting for VM to boot."
I would like to open this issue to expose that we have been having issues with the plugin because it get stuck on the process to wait for the VM to boot.

[code]

I know that behind the scenes the plugin is running a simple `powershell` script to get the `hostname` and when debugging we got this kind of errors:

[code]

And

[code]

We have tried a lot of possible solutions and somethings it get s

[2014-04-30 16:18] chiriaev commented on #194
Hi. Are you 100% sure that Vagrant/WinRM tries to get, and gets, to your server? In other words, have you traced the network when your VM boots?

[2014-04-30 16:58] afiune commented on #194
I am 100% sure that Vagrant/WinRM tries to get to my VM... and 100% sure that it does not gets there.. (with the errors described above)

It actually set the right forwarding ports (validated connecting to the box manually) but when  Vagrant/WinRM launch the powershell to check that the VM has booted it get stuck there..

Debugging:

[code]

Need some ideas guys!! Will appreciated!! Thanks!!

[2014-04-30 17:15] StevenArmstrong commented on #194
Okay when using this I have found that it boots faster if you use an ip as opposed to computer name as the winrm.host. Also the spec of your vsphere instance makes a difference, if you don't have a decent amount of memory available on the vsphere host it can take up to 30 minutes for winrm to start where if the memory is good then it is almost instant.

[2014-04-30 17:52] sneal commented on #194
Is the WinRM service set to auto-start or delay-start on your guest? Running winrm commands from the command line will reset this value, so it may have been reset without your knowledge.

[2014-04-30 18:15] afiune commented on #194
Thanks @StevenArmstrong I think it is not the case since the VM boots in 5 min. I am using VirtualBox and I have good memory configured.

@sneal Thats correct, I have WinRM service set to auto-start. I have validated that it is up and running each time I spin up a new VM. Actually I run WinRM commands from the HOST against the Guest VM (while vagrant is waiting to detect that the VM is booted) and

[2014-04-30 19:18] afiune commented on #194
I have uninstalled everything.. Then installed again (Vagrant and their plugins) and give it a try. Sadly same situation:

When running `vagrant up` on debugging mode it gets stuck in the same point:

[code]

But while `vagrant` is retrying I opened another terminal and run same command `hostname` using `knife-windows` plugin:

[code]

So conclusion is that I can reach the VM manually but Vagrant/

[2014-04-30 19:30] StevenArmstrong commented on #194
What user is your vagrant command running from? Is it a different user to the one you are using the command line from. Are you using a tool to schedule the vagrant up that is running under a service account? Also try specifying localhost in your vagrantfile as opposed to 127.0.0.1, does your hosts file have that 127.0.0.1 set to localhost? That may be the issue.

[2014-04-30 19:43] afiune commented on #194
@StevenArmstrong same user.. And yes my user on my mac is different, it is not `vagrant` but I don't think it matters..

[2014-04-30 20:40] sneal commented on #194
If this is windows on windows, maybe the port isn't getting forwarded properly and the plugin is actually hitting your host and not the guest? Try another host port and see if that changes behavior at all:

`config.vm.network "forwarded_port", guest: 5985, host: 15985`

[2014-04-30 20:41] sneal commented on #194
I didn't see you last couple of posts, so ^ probably not the issue...

[2014-04-30 21:21] juliandunn commented on #194
You don't happen to have any `HTTP_PROXY`, `HTTPS_PROXY`, etc. environmental variables set? I have burned myself quite a few times with this sort of thing, as Vagrant will read and use those.

[2014-04-30 22:29] afiune commented on #194
@Juliandunn that is correct. I do have those environment variable loaded. I thought that was the problem so I already changed three different proxies on my organization without any luck. Additionally I unset them (unload them from the environment on my terminal) and got the same exact problem...

Really weird!!!

This is driving me crazy!  Thanks for your ideas at the moment.. Keep helping please.

[2014-04-30 23:01] juliandunn commented on #194
Can you `tcpdump` (or use Wireshark) the outgoing traffic from your workstation to ensure that it really is not going to the proxy?

[2014-05-01 15:15] sneal commented on #193
If anything this is a core Vagrant issue. I've seen several issues similar to this about Vagrant downgrading already installed plugins when installing another plugin. Bundler, which Vagrant uses internally does so to resolve compatible versions.

[2014-05-01 15:15] #193 closed, assigned to nobody

[2014-05-01 15:17] sneal commented on #194
@afiune What OS and version of WinRM is running on the guest? I wonder if #148 applies here?

[2014-05-01 15:18] afiune commented on #194
Interesting @juliandunn... I used `tcpdump` and watch the `port 5985` and guess what? When Vagrant/WinRM attempt to connect:

[code]

It does not connect or show any value that indicates that it is trying to connect!!!

But when I use the `knife winrm` command it does connect and does show values on the `tcpdump`..

[code]

I'm going to try playing with my `/etc/hosts` file.. Any other idea?

Than

[2014-05-01 15:28] afiune commented on #194
I have an idea! Is there a way to tell Vagrant/WinRM to use `localhost` instead of `127.0.0.1` ???

[2014-05-01 15:43] sneal commented on #194
Heh, I was thinking the same thing. Try `config.winrm.host = 'localhost'`

[2014-05-01 15:56] afiune commented on #194
Works!!! :+1:

[2014-05-01 16:26] #194 closed, assigned to nobody

[2014-05-01 16:34] afiune commented on #194
Guys really appreciate the help!!

[2014-05-05 21:28] dhawal55 opened #195 "Error Configuring and enabling network interfaces"
I'm trying to use vagrant 1.4.3 with vagrant-windows 1.6 and get the below error:

[server] Configuring and enabling network interfaces...
C:/Users/XXX/.vagrant.d/gems/gems/vagrant-windows-1.6.0/lib/vagrant-windows/communication/guestnetwork.rb:93:in `Integer': invalid value for Integer(): "" (ArgumentError)
        from C:/Users/XXX/.vagrant.d/gems/gems/vagrant-windows-1.6.0/lib/vagrant-windows/c

[2014-05-27 19:46] 3goats opened #196 "vagrant rdp"
When I run `vagrant rdp` my RDP session always opens in full screen mode. I've tried this:

`vagrant rdp -- /h:900 /w:1100` as per the documentation but the parameters get ignored!

[2014-05-27 22:23] sneal commented on #196
Any issues should be logged in the core Vagrant project.

[2014-05-27 22:23] #196 closed, assigned to nobody

[2014-05-27 22:29] sneal commented on #182
Any luck with this?

[2014-05-30 00:33] toruuetani commented on #182
Sorry, I couldn't yet.

[2014-06-06 06:59] dmjio opened #197 "Upgrade path to 1.6"
Hi, I'm on vagrant 1.5.1. I see that vagrant 1.6 natively supports windows now. Without breaking my current build environment (too badly) what would be the best way to upgrade to 1.6 and retain my current windows VM that I have working well with vagrant 1.5.1 and vagrant-windows?

BTW thanks for making this plugin, life-saver

[2014-06-06 15:43] juliandunn commented on #197
I didn't have any problems upgrading from 1.5.x to 1.6 and continuing to use my existing Windows vagrant boxes. You just need to follow the generic instructions for (possibly) reinstalling plugins into the new Vagrant, minus, of course, vagrant-windows.

[2014-06-06 16:47] sneal commented on #197
Besides what @juliandunn said, the biggest change is to your Vagrant files.

remove

[code]

and add

[code]

Unfortunately if you have a bunch of builds setup to use vagrant-windows on Vagrant pre 1.6 like I do, you'll have to do it all at once or partition your builds to specific build servers.

[2014-06-06 16:47] #197 closed, assigned to nobody

[2014-06-11 11:16] PandaDrunkard commented on #182
Seen the same problem, and I did same approach above. That muted the error and up VM successfully, but the actual IP of Local Network 2 didn't change.

Vagrant 1.4.3 on Cygwin with Windows 7 x64

[2014-06-19 16:39] toruuetani commented on #182
I sent PR(https://github.com/WinRb/WinRM/pull/70) to fix this.
But I don't know how to test this plugin, please test !

[2014-06-19 16:52] sneal commented on #182
@toruuetani Nice! I'll see if I can't this shepherded into WinRM and Vagrant core (since 1.6+ supports Windows guests).